[2019-09-11 16:45] Harkishen-Singh opened #6 "add Jitter module"
As per the docs, we require support for Jitter check. Testing jitter on any route is a resource-intensive as various network modules are required and their implementation by the `ping` command happens serially. This could take significant time and hence needs to be implemented as an **independent goroutine**. The communication must be carried out between the threads via pointer/non-pointer channel

[2019-09-14 06:19] aquibbaig commented on #6
I'm taking this!

[2019-09-15 08:46] Harkishen-Singh opened #8 "support for flood ping test"
Desktop (please complete the following information): universal

OS:  fedora
#### Describe

Currently, the ping modules support basic ping functionality. However, functions like flood ping, which is critical for getting the packets loss via propagating through the network.

Deliverables:

1. data packet loss
2. support via sudo/without sudo operations

[2019-09-15 09:00] Harkishen-Singh opened #9 "support for monitoring routes at regular intervals"
OS: universal

#### Describe

Monitoring is a very critical component of BR. Hence, this will require a very systematic approach to its solution. A brief idea of what I think would be, setting up configuration via `.yml `file for asking routes, intervals of pings, etc. On a latter stage, this will require integration with tsdb.

[2019-09-15 09:03] Harkishen-Singh opened #10 "design and setup tsdb"
OS: universal

#### Describe

This remains the most critical and unique component of BR. Once the first version is built, it will require the integration with all other modules as a chain which can be used to make graphs o the ui end.

[2019-09-15 09:06] Harkishen-Singh opened #11 "monitor and report response changes"
OS: universal

#### Describe
Extension #9 , in which the response of the particular route would be saved as a time-series and a mean of the response length would be saved on each incoming request. On each response, the per-cent change in the response length would be compared to the mean length of the response of that route. If the change is beyond a threshold, an alert will be sent to the user, si

[2019-09-15 09:24] Harkishen-Singh opened #12 "support for request-response delay"
OS: universal

#### Describe
For each route, the delay or increase on the req-res time would lead to more likeliness of a request being a timeout and hence a bad performance functionally and non-functionally as well. This module should be capable to track the variation of req-res time, and other necessary details which seem necessary.

[2019-09-15 09:31] Harkishen-Singh opened #13 "support for network congestion/bottlenecking test"
OS: universal

#### Describe
Network Congestion is the situation which occurs when the entire bandwidth of the network is occupied. Any request in a congested network will be bound to get slow and sometimes may lead to time-out, resulting in termination of operations. The implementation can be carried out by using netstat.

[2019-09-15 14:21] aquibbaig commented on #9
I'd like to take this up

[2019-09-17 10:01] Harkishen-Singh opened #14 "url in ping command throws exception when input except domain or IP"
**Describe the bug**
We expect ping command to return the time interval between a pure request and response. However, when the url is **19.343.235.12:9000** or **google.co.in/search?q=...** then the ping throws `Name or service not known`.

However, **19.343.235.12** or **google.co.in** will work as expected. This leads to the conclusion that ping command acts on pure IP address as the domain name

[2019-09-17 17:16] ankitjena commented on #8
So executing the flood ping command requires sudo in most of the cases(for results that we need actually). A workflow would be to ask the user for his/her password the first time and store it somewhere. And we can input this directly when the command asks for password. If the password is wrong we can reask the user for password.

WDYT about this?

I haven't searched much, but @Harkishen-Singh do y

[2019-09-17 17:19] ankitjena commented on #12
We would need the type of the request to mock it. Discussion remains on how to take the routes from user. Plus for `POST` or `PUT` we would need to send some data for the request to work.

I think we can ask user to create mock routes for using bench-routes application where the request-response cycle works on a dummy database. But TBH this is too much work for someone.

[2019-09-17 17:20] ankitjena commented on #14
Does this mean that we cannot use `ping` for any other route than the domain name?

[2019-09-17 17:24] Harkishen-Singh commented on #14
@ankitjena .That isn't what I meant. Ping does its process well as we expect an require. The thing is that we need filters so that we could avoid the exceptions which might arise if the user passes a faulty IP or Domain.

Ping tests can only be done on VM IP which is what is happening since it aims to find the idle time a VM takes to respond to the traffic and not the time taken by the route. The

[2019-09-17 17:30] #6 closed

[2019-09-18 09:49] Harkishen-Singh opened #16 "native service notifications"
**Notifications Module** is an important aspect of bench-routes. This module will be in extensive use in order to communicate with the user from the service point. Though, this module would get more priority once [benchroutes-init](https://github.com/zairza-cetb/bench-routes/labels/bench-routes-init) modules are done.

This can be done by the following command in Linux:
`notify-send Bench-Routes "

[2019-09-20 04:37] muskankhedia commented on #8
@ankitjena In order to pass the password in the execution command, the following syntax could be used:

`echo -e "<password>\n" | sudo -S <sudo command to be executed>`

For example, the command to update the system will be:
If the password is 'abcd'

`echo -e "abcd\n" | sudo -S apt-get update -y`

[2019-09-20 05:35] aquibbaig commented on #12
@ankitjena Focus on `GET` for now

[2019-09-20 14:17] binayakbehera999 commented on #14
@Harkishen-Singh . Does that mean that we have to create filters to filter out the pure IP address or the domain name for the URL supplied?

[2019-09-21 12:45] Harkishen-Singh commented on #14
@binayakbehera999  No. What I mean to say is ping command works on the pure domain or IP address.

 I feel, removing routes and other unrelated stuff from the base URL is easier than to dig domain name out from the same.

[2019-09-21 12:47] Harkishen-Singh commented on #8
closing this!

[2019-09-21 12:47] #8 closed

[2019-09-23 10:24] muskankhedia opened #22 "Add newer tests to the tsdb module for validating chain propagation"
### Describe

As the database is managed by the tsdb, the data is being stored in the JSON file in the form of an array of objects. The JSON file contains a chain of blocks and various operations are implemented on the data like `append, pop, Positional Block` etc. So during the use of the data, we need to validate if the data stored is correct or have been corrupted in the way while performing di

[2019-09-23 11:10] aquibbaig opened #23 "save the response length and fetch when required"
The response returned by the response module is subject to disappear when the user closes the application and restart this.

 Before the user closes the application we need to save this data somewhere either as a DB entry/JSON dump.

This will help us to have an already stored length field  for the routes which can be referred from when calculating response changes in the future

[2019-09-23 16:52] Harkishen-Singh commented on #22
@Jayashree-panda  please have a look

[2019-09-24 14:57] Harkishen-Singh commented on #14
@ganeshpatro321 we currently have a temporary solution by hard coding url end points which was submitted by jayashree. We still have to find a permanent solution of filtering the URL for ping test.

[2019-09-24 15:12] binayakbehera999 commented on #22
@Harkishen-Singh I would like to work on this.

[2019-09-24 16:02] Harkishen-Singh commented on #22
@binayakbehera999  sure. pls go-ahead

[2019-09-24 16:13] Harkishen-Singh opened #25 "store user-details as a part of the configuration file"
The database used as of now is tsdb, which is helpful for storing values as a time-series. However, we need to store general details which would be loaded each time on startup. This includes _avg response length, count of time-series,_ and other relevant things.

[2019-09-24 16:22] aquibbaig commented on #23
#24 depends on this!

[2019-09-24 16:22] aquibbaig commented on #23
I'm assigning myself for this for now!

[2019-09-24 16:24] aquibbaig commented on #25
#24 depends on this, I'm assigning myself for now. Others are welcome to!

[2019-09-24 16:26] Harkishen-Singh commented on #25
@aquibbaig  sure!

[2019-09-25 14:44] Harkishen-Singh opened #28 "support for flood test"
Currently, we have successfully implemented the `flood ping` functionality. However, this just tests out the capability of VM instance as to how many traffic it can handle but gives no info about the performance of the routes or the web-application. Moreover, the real-world usage of this feature is less when compared to the feature being proposed.

We can test the scalability of the web-applicatio

[2019-09-25 16:38] #22 closed

[2019-09-26 11:15] #16 closed

[2019-09-26 14:37] #14 closed

[2019-09-27 10:10] C-Anirudh opened #32 "Improve filtering of urls into domain names for the ping cmd"
**OS**: All

#### Describe
The `HTTPPingFilter` method found at `/src/lib/filters/` falls short in certain places.
- [ ] Doesn't return an error if the url cannot be filtered to a syntactically correct domain name. (i.e., the method returns some domain string for the invalid urls `https://www.google` , `https://www.com`, etc ). **Possible solution**: Use regex to check whether the filtered domain

[2019-09-27 14:41] C-Anirudh commented on #32
@Harkishen-Singh I would like to take this up.

[2019-09-28 11:50] Harkishen-Singh commented on #32
@C-Anirudh pls go head

[2019-09-30 09:16] aquibbaig commented on #13
To be implemented using Flood Ping here. So, we will kinda reuse the existing utils for Floodping.

[2019-09-30 13:14] Harkishen-Singh commented on #13
@aquibbaig actually, it would be implemented via flood test rather than flood ping.

[2019-10-04 11:57] ankitjena opened #36 "Reduce redundancy in tsdb for different modules"
Desktop (please complete the following information):

OS: ubuntu

#### Describe
Currently after end-to-end integration of the ping module, almost all the methods and structures are written again with minor changes, like `Block` and `BlockPing`. When we will add more modules there will be lot of redudancy. For example, `Block`, `BlockFloodPing`, `BlockJitter`, `BlockReqRes` etc. There must be a bet

[2019-10-04 12:15] ganeshpatro321 commented on #36
@Harkishen-Singh one more thing!

There are certain functions such as "append" which does the same thing for all the modules. Is it required to create different functions for different modules?

[2019-10-04 13:14] Harkishen-Singh commented on #36
@ganeshpatro321  @ankitjena, for normal cases (except ping and flood ping), we require the results to be stored in tsdb. But, the default design of tsdb supports storing a single value corresponding to the time scale. But in the case of ping, we were required to store 4 different values corresponding to a single timestamp - min, mean, max, mdev. That's y we went for different functions like `Block

[2019-10-04 13:17] Harkishen-Singh opened #37 "Support for saving log to secondary storage"
Currently, we don't support saving of system logs generated by BR. This might be crucial from the debugging point.

Things to note:
1. Keep this log in some other folder which should be excluded from `git`
2. The secondary storage should capture each and every log generated.

[2019-10-04 13:34] Harkishen-Singh opened #38 "Integrate modules with sockets and tsdb"
We need to integrate the modules with the corresponding socket message and tsdb as an end-to-end working model.

[2019-10-04 19:34] Harkishen-Singh commented on #36
@ankitjena  we can come with an approach that could be universal for each module and thus reducing the redundancy. That would be really great.

[2019-10-04 19:35] ankitjena commented on #36
@Harkishen-Singh that's what I was suggesting

[2019-10-05 08:09] Harkishen-Singh opened #39 "Integrate mutex Locking in TSDB operations inorder to make go-routine safe"
currently, the tsdb is independent of any locks. This makes it vulnerable from racing at the time when 2 threads simultaneously attempt to write tsdb record by increasing the normalized time with the base time. This leads to conflicts within records and hence may lead to a race condition.

[2019-10-05 08:20] Harkishen-Singh opened #40 "Initial checking of configuration rules"
We have no checks for verifying the configuration file `local-config.yml`. This should be done just before loading the config file into the bench-routes environment.  In case of mismatch, an error should be thrown, thus terminating the system.

[2019-10-05 08:23] Harkishen-Singh opened #41 "Simplify handlers.go"
The `handlers.go` is too long and confusing since the independent go-routines funcs are written in the same file. This can be simplified by taking independent go-routine functions to different appropriate files, thus reducing the length and complexity of `handlers,go`

[2019-10-05 08:36] Harkishen-Singh opened #42 "Alerting user for unusual behaviour"
We need to alert the user at the time of the unusual behaviour of the target. This behaviour can be failing of monitoring which can be due to the target being in a downstate, irregular length of response beyond the threshold value, and other reasons.

 The alerting medium can involve many ways like mail, slack messaging by bots etc.

The entire implementation should be done as an independent modul

[2019-10-05 08:40] Harkishen-Singh opened #43 "Mailing system as an alerting method"
Follow on #42. Proposal for alerting method via mails. This will involve the necessary changes in the configuration file, as the required credentials needed for setting up a mailing system through native golang.

[2019-10-05 09:36] ankitjena commented on #36
@Harkishen-Singh What would be the better approach, any suggestions?

[2019-10-05 10:55] Harkishen-Singh commented on #36
@ankitjena  nothing as of now. If something strikes will share here.

[2019-10-05 11:20] Harkishen-Singh opened #45 "Initial check all existing TSDB chains for brokenness"
When the BR initiates, it loads the existing TSDB chunks from `/storage` and forms doubly-linked chains. however, there is no mechanism to see if the doubly linked chains formed are valid or not. There could be a discontinuity in the normalised chain, faulty address assignment, etc _(dig out what more possibility could there be)_ .

A check should be implemented which should propagate each chain f

[2019-10-05 11:26] Harkishen-Singh opened #46 "Make bench-routes forced to undergo Safe exit when Ctrl+C"
This is important. During the execution of modules involving thousands of goroutines, if the application is forced closed via `Ctrl+C`, there are high chances of corrupted data records that could gather or go un-committed in the TSDB.

We need a mechanism to make all those unsafe methods undergo a definite procedure whenever a `Ctrl+C` or `SIGINT` signal is triggered.

Reference [link](https://sta

[2019-10-05 11:30] Harkishen-Singh commented on #45
We have something similar in the `tsdb_test.go` where the chain verification is done by propagating the same. However, this time it should be propagation in both directions intensively. Please see if any other verification could be done in `order` to make the system more reliable.

[2019-10-05 13:35] Harkishen-Singh commented on #36
@ankitjena one way we can do this is by storing the complex values as string in `datapoint` _(of type `string`)_ field. This way, we can store the value by marshalling it and retrieve it in the same process and store in the respective lower level structure.

[2019-10-05 15:29] aquibbaig commented on #38
Working on integration of req-res module

[2019-10-05 17:01] aquibbaig commented on #36
Let's have a common `blockType` struct with a common timestamp and a datapoint,
The datapoint can be of various types since it is different for different modules as per basic Object Modelling

[2019-10-06 10:17] aquibbaig opened #49 "Place config in the root folder"
#### Describe

Place the `local-config.yml` in the project root and change the respective paths, in order to allow all folders to have access to it.

[2019-10-06 11:07] wale-bant commented on #49
Hi, can I work on this?

[2019-10-06 11:13] muskankhedia commented on #49
Sure!

[2019-10-06 11:14] wale-bant commented on #49
I'm on it.

[2019-10-06 11:26] Harkishen-Singh opened #51 "Create global var file in utils/"
currently, the global variables are present in a distributed manner,  i.e., some are present in `tsdb.go`, some at `handlers.go`, `init.go` etc. We need to bring them all in one place in order to make life easier for contributors.

Please note that this file should be named as `global-vars.go` and should be inside the `utils/` directory so that it can be accessed without any `cyclic-import` errors

[2019-10-06 12:16] muskankhedia opened #52 "Ping Controller throws error if started for long time"
**Describe the bug**
If the ping command is started for a long time, it throws a **pipe** error after some time.

**To Reproduce**
Steps to reproduce the behaviour:

1. Start the ping test by clicking on the start button in the html file.
2. Let it run for a long time.
3. The error will be displayed in the terminal.

**Expected behaviour**
The ping command should work normally even for a long inst

[2019-10-06 12:20] ganeshpatro321 commented on #51
Will look into this. @Harkishen-Singh

[2019-10-06 12:22] muskankhedia opened #53 "Enhancing the scrapping for ping"
OS: Fedora

#### Describe
For now, the time complexity for the scrapping of the ping in the function `CLIPingScrap` is **O(n)**, the function can be more enhanced to lessen the time complexity.

[2019-10-06 12:29] muskankhedia opened #54 "Displaying the log message if the server gets disconnected"
OS: Fedora

#### Describe
There are chances where the network may get disconnected in the mid of the execution of a function. So displaying the log message when the network gets disconnected will aware the user to reconnect the network and the log will be maintained.

[2019-10-06 12:34] wale-bant commented on #49
Hi, please review my PR #55 and merge. Thanks

[2019-10-06 13:20] ganeshpatro321 commented on #51
Just to verify, do we need vars such as `GlobalPingChain` in the utils directory. If yes, then  I am facing a cyclic import problem. @Harkishen-Singh , as I will have to import the tsdb folder to utils (to access the parser), and utils to tsdb to access the global vars ?

[2019-10-06 13:37] Harkishen-Singh commented on #51
@ganeshpatro321  to avoid it, just declare `GlobalPingChain` only in the utils directory and use it in other packages as `utils.GlobalPingChain`. That should solve the issue.

[2019-10-06 14:19] ganeshpatro321 commented on #51
Without importing utils there? @Harkishen-Singh

[2019-10-06 14:28] Harkishen-Singh commented on #49
Solved! Closing it.

[2019-10-06 14:29] #49 closed

[2019-10-06 16:12] aquibbaig opened #57 "Add Slack badge to README"
See slack API for shareable links and add a badge to README that will redirect to `bench-routes` channel on Slack

[2019-10-06 16:12] aquibbaig commented on #57
Well, this will be done by an admin for chat room id. So, I'm doing it

[2019-10-06 16:45] ganeshpatro321 commented on #46
Will take up this.

[2019-10-07 11:13] #57 closed

[2019-10-07 13:30] aquibbaig commented on #25
Fixed via #34

[2019-10-07 13:30] #25 closed

[2019-10-07 15:12] Pratik32 commented on #54
hello @muskankhedia I would like to work on this one. Is there anyone already working on it ?

[2019-10-07 15:26] muskankhedia commented on #54
@Pratik32 Thanks for showing your interest in the project. Currently, this issue is open for contributors. You can work on it and feel free to ask any queries.

[2019-10-07 19:38] Harkishen-Singh opened #61 "Add individual go-routine sleep for ping"
The `sleep` in main go-routine handling ping makes the entire thread sleep only when all the ping operation on the routes mentioned in the config file has been done _(a dependent behaviour for each ping operation)_. This is kind of a wrong logic as we need to pause the thread for the specified interval specifically for the particular IP address.

The correct approach would be to bring this inside

[2019-10-08 12:41] Pratik32 commented on #54
Hello, In order to implement this I was thinking of following:
1) the linux's ping utility return 'could not find host < host_name>' if it cannot connect to the given host.(possibly because of no network connection or something wrong with host itself). If ping returns this message we can log the message.(to make user aware of it).
OR
2) In order to check network connectivity we can ping google's D

[2019-10-08 13:02] Pratik32 commented on #54
Okay, I just realized that there already a method VerifyConnection() in source code to check external network connectivity, I think we can use it too ?

[2019-10-08 16:56] ankitjena commented on #41
Closing this

[2019-10-08 16:56] #41 closed

[2019-10-08 18:15] agathver opened #64 "Consider using Go modules"
Go 1.12 and up contain a nifty feature called go module system which works very similar to how npm performs.

https://blog.golang.org/using-go-modules

This also allows me to pin to versions and prevent pollution and collision with Go packages already in GOPATH; as explained here - I have a project X which depends on Y @ 1.0.0 and this project also depends on Y @ 2.0.0. The current layout doesn't

[2019-10-08 19:00] Pratik32 opened #65 "If hostname for a particular route is not correct, entire application crashes."
**Describe the bug**
If we specify wrong hostname in the config file, the application panic while pinging the incorrect hostname.

**To Reproduce**
Steps to reproduce the behaviour:
1.Replace anyone of the hostname in config file with garbage value.
   e.g I replaced www.google.com to www.gougle.com
2.Test the application with socket-tester
3. In the logs it is evident that, when it tries to ping

[2019-10-08 19:11] Harkishen-Singh commented on #65
Thanks for pointing out. We are in the early stages for the development. Would be having similar bugs in other modules.
Thanks for your interest in the project. Expecting more participation!

[2019-10-09 07:08] Harkishen-Singh commented on #64
Sure @agathver. We were busy in setting up the base and missed this. Thanks for pointing out. Will surely do in the following commits!

[2019-10-09 11:40] #53 closed

[2019-10-09 17:45] muskankhedia commented on #65
@Pratik32 Thanks for your interest in the project. On examining the cases, I came to know that on invalid URLs the server doesn't panic instead its redirecting to the IP `154.92.19.168` and the complete process works as expected. So there won't be any requirement of any extra conditions foor Invalid URLs.

Screenshot of the redirection of URL in an invalid input:
![WhatsApp Image 2019-10-09 at 7 0

[2019-10-09 17:48] muskankhedia commented on #54
Yaa something similar needs to be done as we need to check if the network gets disconnected in the mid of any operation. A condition should be made to check internet connectivity at every instant and aware the user as soon as the network is disconnected.

[2019-10-09 17:51] muskankhedia commented on #54
VerifyConnection() checks for internet connectivity only once when the server is started. Now we need to implement an all-time internet connectivity check and warn the user as soon as the network gets disconnected at any instant when the server is running.

[2019-10-09 18:05] ankitjena commented on #65
@muskankhedia that doesn't happen in my system
[code]

[2019-10-09 18:08] muskankhedia commented on #65
@ankitjena Yaa same happening in my system, but working fine with Harkishen. So we need to find the basic reason for redirection to the default URL in some of the system.

[2019-10-09 18:10] ankitjena opened #69 "Save to TSDB fails when folder doesn't exist"
**Describe the bug**
During init or any test, if folder doesn't exist inside storage, then it throws
[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Remove any folder from the storage, like `ping` folder
2. Start bench-routes, `make run`
3. It will throw error

**Expected behaviour**
If the folder doesn't exist, it should create one

**Desktop :**
 - OS: ubuntu

[2019-10-09 18:10] Pratik32 commented on #65
Hi @muskankhedia , thanks. did you try the repro steps that I mentioned in the bug report. Can you check the result with those steps.
P.S. I am running this on UBUNTU 18.04. (Although it should not make any difference. as 'ping' utility is same on all linux platforms)

[2019-10-09 18:19] muskankhedia commented on #65
@Pratik32 Yaa I have also tried the steps mentioned and the TSDB files are created as expected and everything is working fine after getting redirected to the default URL. But it's working only with some of the system. Now we can solve it in 2 ways:
1. Stopping the redirection to the default URL in the system (this can be done by initially checking the URLs, either it is valid or not).
2. As mentio

[2019-10-09 18:47] Pratik32 commented on #65
@muskankhedia , I think 154.92.19.168 is ip of your router OR service endpoint. I still can't explain the behaviour of the ping command though. Anyways I think there must be some error handing in case ping returns actual error.

[2019-10-09 19:04] Pratik32 commented on #54
@muskankhedia thanks muskan, I have thought of some code change regarding this. will raise a PR once done.

[2019-10-09 19:38] #69 closed

[2019-10-09 19:41] muskankhedia commented on #65
@Pratik32 I get your point and facing the same error in my system but its working fine with some of the other systems. So need to first figure out the actual problem before solving it.

[2019-10-09 20:07] Harkishen-Singh commented on #65
@ankitjena @muskankhedia  ping will never work with `www`. As discussed before, it has to be a pure domain or pure IP, the hyperlinks are never supported in `ping CLI`. Similarly, `ping www.google.co.in` will never work, but remove the `www`, then it will work!

[2019-10-09 20:09] Harkishen-Singh commented on #65
@Pratik32 could you please confirm whether running `ping -c 10 guogle.co.in` in simple terminal is causing issues?

[2019-10-09 20:15] Pratik32 commented on #65
@Harkishen-Singh , here is the output of above command on my machine.
![ss](https://user-images.githubusercontent.com/17097242/66516838-993d4400-eaff-11e9-81a6-f9ac4b580eea.PNG)

[2019-10-10 13:36] #52 closed

[2019-10-12 11:18] #38 closed

[2019-10-12 11:19] Harkishen-Singh opened #74 "support for scaling up req-res delay"
This feature will work as #28, thereby solving it.

[2019-10-12 11:22] Harkishen-Singh opened #75 "refine the existing code base"
after integration of several modules, there are a bunch of code that has been redundant and can be made to work in a well-organised way. Moreover, the main file is kept empty, which serves as a flaw in the design. Further, the support for go modules _(#64)_ as a vendor is also needed.

With this, we would be ready to bring our first beta release.

[2019-10-12 11:29] Harkishen-Singh opened #76 "support for reloading bench-routes during its execution"
BR has been designed as a tool which could be deployed on any VM instance and could continue its purpose of monitoring and benchmarking on a scheduled process. This means starting BR, again and again, is a tedious process since at the start, all chains need to be formed. We need to come up with an approach which could pause the application during its execution and reload its variables like `Config

[2019-10-12 11:32] Harkishen-Singh opened #77 "scheduled benchmarking"
features like monitoring will run always in the background. However, the benchmark test could not be run forever (depends on the user) since they would add to the cost of the VM instance and are cost-intensive.

This leads to an approach to a scheduled scheme of benchmarking which would be as an optional feature.

[2019-10-12 11:32] #9 closed

[2019-10-12 11:32] #10 closed

[2019-10-12 11:32] #11 closed

[2019-10-12 11:33] #12 closed

[2019-10-12 11:34] #51 closed

[2019-10-12 11:34] #39 closed

[2019-10-13 08:22] aquibbaig opened #80 "Bench routes documentation as official documentation"
Currently, we have Google Docs as documentation for our application

We can migrate to sites that provide official documentation like readthedocs.

The link can be given in the website when we will build one.

[2019-10-13 08:33] aquibbaig opened #81 "Move to Docker"
Let's have a container for our application which will make it easier for people(Dev) to pull the application rather than going through all the installation process.

[2019-10-14 15:10] #64 closed

[2019-10-15 09:00] #37 closed

[2019-10-15 12:08] Harkishen-Singh opened #84 "Fix GolangCI"
**Describe the bug**
Golang CI check bot has been failing since the merge of **vendor** directory.

**To Reproduce**
Steps to reproduce the behaviour:
1. On submitting any PR

[2019-10-15 12:12] Harkishen-Singh commented on #84
A brief examining of the Golang-CI bot logs concluded that this **might** have occurred due to the absence of go.mod and go.sum files.

[2019-10-15 13:21] Pratik32 opened #85 "bench-route for clustered environment."
currently bench-route can monitor routes of an application on a single machine. In many scenarios applications are highly available(HA) & hence run on multiple machines at the same time.
We can enhance bench-route such that it can run on a cluster environment where it can monitor stats of an entire cluster OR applications running on it.
e.g of a clustered environment -[ VCS (veritas cluster server

[2019-10-15 16:33] Harkishen-Singh opened #86 "Release 0.1-beta"
We have successfully completed the first stage of development.
Launching release of bench-routes service beta 0.1 as a mark for developing and testing the bench-routes-UI (TODO)

[2019-10-15 16:39] Harkishen-Singh commented on #85
for monitoring several applications on clustered env or across multiple VM instances, we can use the IP addresses of different machines as a route and then the BR will work like said in this issue.

**Example:**

[code]

[2019-10-15 20:24] Harkishen-Singh opened #87 "reduce redundancy during chain formation in init()"
The chain formation in `init()` has a lot of redundant code which can be unified and simplified.

Relevant code:
https://github.com/zairza-cetb/bench-routes/blob/1a3605cbb3c3dda3200757fd43ae3f20167b28a0/src/main.go#L62

[2019-10-15 20:32] Harkishen-Singh opened #88 "design a tool to check the the validity of configuration file"
**Is your feature request related to a problem? Please describe.**
Currently, the user has no idea if the configuration file made by him is valid or not, depending on the standards and the fields which are required for a valid loading of the parser.

**Describe the solution you'd like**
An independent tool can be developed which has the sole purpose of checking the config file. If on erros, it can

[2019-10-16 09:31] #87 closed

[2019-10-18 17:40] ganeshpatro321 commented on #36
Can embedded struct types help here? Or the same thing?

[2019-10-22 05:15] Harkishen-Singh opened #92 "Intensive tests for CI"
Currently, the test cases cover the functional and integration parts only. We need to execute the complete application and launch ping, jitter, flood ping and req-res tests. This can be done using selenium with mocha launching on a browser environment using a virtual display _(like **xvfb**)_.

[2019-10-23 12:05] Pratik32 commented on #85
apologies for the late response. I was offline.
What I mean is if an application has clustered presence then BR should be able to benchmark it as whole (I mean for entire cluster). I think what you suggested will work too.

[2019-10-24 21:20] biswajitpatra opened #93 "Why can't we use Binary Search rather than using Jump search?"
In TSDB, the blocks are searched using JUMP search.
But binary search will have a less number of steps to be executed, and would be a faster alternative to Jump search.

[2019-10-25 19:41] Tjzabel commented on #81
I submitted PR #94 to add docker support :+1:

[2019-10-27 05:54] #93 closed

[2019-10-27 20:50] Tjzabel commented on #92
For what it's worth, selenium has a headless mode that doesn't require a virtual display.

[2019-10-28 19:51] Harkishen-Singh opened #96 "Make tsdb save() call only when required"
Bench-routes have been designed to handle monitoring and benchmarking on thousands of routes simultaneously by launching independent light-weight goroutines. This means that the storage needs to be robust and capable of handling such large data which it is. This indirectly means that the design of tsdb is goroutine safe.

But here comes the problem.

We are committing into the secondary storage af

[2019-10-29 17:54] Harkishen-Singh opened #97 "Initialise all service states to passive on start"
When the BR application starts, it has all its module states in a halt mode. But the local-config.yml _(which is also a local db)_ does not say so. This creates a mismatch as when the application is forced close (due to various reasons), the service state remains in its original state even after being crashed. This prevents the services from being started _(unless stopped manually from the UI end)

[2019-10-31 17:54] Pratik32 commented on #97
I am working on this one.

[2019-10-31 17:57] Harkishen-Singh commented on #97
Sure @Pratik32.

You can also participate in the development of GUI for benchroutes. [Link](https://www.github.com/zairza-cetb/bench-routes-electron)

[2019-10-31 18:00] Harkishen-Singh commented on #92
Running chrome driver headlessly will lead to errors in Travis. This approach can be done for sure in geckodriver.

[2019-11-03 09:18] aquibbaig commented on #96
I'd work on this

[2019-11-03 17:16] Harkishen-Singh opened #99 "Efficient parsing of json files generated in tsdb"
Currently, each value is stored along with time-series as a JSON file. Further, during each save operation, the entire JSON file is re-written. Assume the data is a month old. This pre-existing data in the JSON would be really long.

The issue is that when BR starts, it forms the chain from these pre-existing JSON files which is resource-intensive since the JSON files need to be decoded in order t

[2019-11-03 17:19] Harkishen-Singh commented on #85
Sure. But we need to implement an approach so that the BR could itself know the presence of other routes and thus, automatically save them in the config file and perform performance tests and monitoring on the same.

Can we come up with such approach?

[2019-11-08 06:27] #86 closed

[2019-11-08 06:28] Harkishen-Singh commented on #97
@Pratik32 any updates?

[2019-11-08 06:28] #84 closed

[2019-11-08 06:31] Harkishen-Singh opened #101 "Run monitoring services on system start"
Some features of BR would be on as the system starts. These would obviously be the ones which do not consume the resources intensively. Monitoring falls under this.

Resource: [link](https://timleland.com/how-to-run-a-linux-program-on-startup/)

[2019-11-08 17:16] Pratik32 commented on #97
@Harkishen-Singh , I did not get time this week for it. I will work on it during weekend.

[2019-11-08 17:16] Pratik32 commented on #97
@Harkishen-Singh , I did not get time this week for it. I will work on it during weekend.

[2019-11-11 10:48] Harkishen-Singh commented on #81
@Tjzabel thanks for the contribution. Closing this issue. Thanks.

[2019-11-11 10:48] #81 closed

[2019-11-11 12:33] Harkishen-Singh opened #105 "Update the design of tsdb in order to make it universally usable"
The current implementation of tsdb is focused towards the bench-routes only. We have too much redundancy for a single type of function, being written on different structs just because of the different simultaneous data available.

This can be resolved by the following approach:

The current fields of the tsdb are:
[code]

This can be updated to
[code]

The `Type` field would be used to know which

[2019-11-11 12:39] Harkishen-Singh opened #106 "Implement compression scheme for tsdb"
TSDB is saved in `.json`. This is space-intensive. We need to implement this on the legacy tsdb blocks and compress using high compression algorithms like 7zip (preferred), zw, bzip2.

[2019-11-11 12:46] Harkishen-Singh opened #107 "Extend support for Querier"
The Bench-routes-querier supports only one operation- `FetchAllSeries()` _(returns all the time-series values for a particular route till date)_.

We need to implement other simpler querying operations:
1. Starting time given, end at the most recent data-value
2. Ending time given, starting at the legacy data-value
3. Starting time given, ending time given

[2019-11-11 12:47] Harkishen-Singh commented on #23
@aquibbaig @dikshantbrahma @ganeshpatro321  please have a look on this. This remains an important feature.

[2019-11-12 14:23] #97 closed

[2019-11-24 17:43] Pratik32 commented on #101
I will have a look at this.I guess we have to write init script for older linux versions that do not support systemd.

[2019-11-27 07:47] aquibbaig commented on #107
@Harkishen-Singh Let's think of it as a form which queries such as "Last week results". In that case, we need **time.now() vs query time** isolation of the graph. Ain't it? So, we need to put **switch** statements based on exact query matches

[2019-11-30 13:18] aquibbaig commented on #106
See [this reference](https://golang.org/pkg/compress/bzip2/)

[2019-11-30 15:11] JayjeetAtGithub commented on #42
@Harkishen-Singh I am interested to work on this. Can you give me some context on how to approach this? Do you have some design or methodolgy to acheive this in your mind ? Thanks.

[2019-11-30 15:17] JayjeetAtGithub commented on #40
Hi @Harkishen-Singh. I would like to work on this too. What would be the rules to validate the yaml file ?

[2019-11-30 18:05] muskankhedia commented on #40
@JayjeetAtGithub Thank you for your interest in the project. There are various ways to check the YAML file. One of them is, Initially, you need to check the pattern followed as it should be same as the present one and all the fields are mandatory, so there should be a specific and valid value for every key in the file. And from this, it can be confirmed that the YAML file is valid, ready for parsi

[2019-11-30 18:26] muskankhedia commented on #42
@JayjeetAtGithub Thanks for your interest in the project. The one way, it can be achieved to check if there is any problem in the server is, initially for all the requests the **minimum** and **threshold** `response length value` can be recorded separately, and for every further request if the response length exceeds or lessens the response length we can be assured of any error in the route and al

[2019-12-01 06:24] JayjeetAtGithub commented on #40
@muskankhedia That makes sense. Thanks. I will try to send a PR on this.

[2019-12-01 08:51] JayjeetAtGithub commented on #40
@muskankhedia Are we required to show all the errors in the config file and then fail or we can simply fail on encountering the first error ? Like showing one error at a time.

[2019-12-02 15:21] ganeshpatro321 commented on #107
Are we planning to do this in the client-side, after getting all the series to the client, or will we support the dumped data too? @Harkishen-Singh

[2019-12-04 10:22] aquibbaig commented on #106
@Harkishen-Singh an important thing is to decide is that when are we going to compress the files, on each iteration or after a certain time using some job scheduler. Mostly, it would be better to go with the second point which seems more feasible. This has to be done in sync with the methods that extract information from these compressed files whilst we are compressing it(locks). Have you had any

[2019-12-04 10:27] aquibbaig commented on #80
Check [here](https://github.com/zairza-cetb/bench-routes-web)

[2019-12-04 14:13] Harkishen-Singh commented on #107
@ganeshpatro321 No, this has to be from the server-side since if we implement in the client end, then a lot of data (in MBs, possibly in GB for legacy data) needs to be sent over the air. hence, we plan to sent only the queried data only.

[2019-12-04 14:20] Harkishen-Singh commented on #107
yes, we can use such as well. mostly, we can provide such options as dropdown and then send the request to the service by converting into the time quantum (time nano secs from 1970) according to the latest **tsdb** design.

[2019-12-04 14:20] ganeshpatro321 commented on #107
Yeah, sure thing. @Harkishen-Singh That was a lame question to ask.

[2019-12-04 14:22] Harkishen-Singh commented on #106
@aquibbaig I think we should design a bench-routes-tool inside the bench-routes service which can compress the required files whose names can be passed via args. These files can then be compressed and the original files after compression can be deleted. The reverse can happen when the graphs are required for the UI.

What do you think?

[2019-12-06 08:50] Harkishen-Singh opened #114 "New test UI does not log and disable buttons once the client goes off"
**Describe the bug**
`http://localhost:9090/test` is used to test **bench-routes**. However, during testing, if the br service crashes, this is not logged in the logger UI in the front-end. Further, once the connection is lost, a banner should be displayed in the top of the screen like `Connection lost. Retrying in x seconds.`. When the retry continues to fail, the failure count (suppose say y) ca

[2019-12-06 08:58] Harkishen-Singh opened #115 "Proper handling of runtime-exceptions in jitter and ping"
**Describe the bug**
When the jitter or ping operation is performed on IP addresses which are not valid, it leads to flooding of logs in the terminal. This needs to be avoided and rather a single line indicating teh kind of failure should be shown.

[2019-12-06 09:02] Harkishen-Singh opened #116 "Consider unnecessary logging to secondary storage and not terminal"
**Describe the bug**
Presently, all events are being logged into the terminal. This leads to spamming and hence the useful log gets past. We need to categorise those events which need log ( like while a start, and in course of any error or exception in runtime) and show them only in the terminal. The rest (the one currently being done) can be directly written into the log without being shown in th

[2019-12-06 10:43] Harkishen-Singh opened #117 "pre-commit for initial tests"
A lot of CI tests fail due to lack of proper formatting. Hence, we need `fmt` check (note: only check) and if not found in format, then throw an exception, thereby preventing commit.

Other suggestions in pre-commit are most welcome.

Useful resource: [link](https://github.com/zairza-cetb/bench-routes-electron/pull/22/files)

[2019-12-07 13:34] #36 closed

[2019-12-07 13:34] #105 closed

[2019-12-07 14:24] Harkishen-Singh opened #118 "New brlogger for supporting independent log writes to secondary storage"
The current logger writes into the terminal (even trivial data which is useless for the terminal thereby spamming the terminal, but for tracing, would be important and hence flushing in the secondary storage) and the log file as well. We need a new logger which can write specific data to the log _(secondary storage)_  and some specific data to terminal and others to both terminal and secondary sto

[2019-12-12 06:07] aquibbaig commented on #115
**Handling of runtime exceptions** in a broader sense requires to know what all exceptions and errors can arise in the runtime of a process, say: jitter analysis. @Harkishen-Singh Please modify #115 with respect to this. Handling exceptions should be aimed at handling any mishaps that break the process in any way(for example: A faulty URI and how we handle that when one occurs, do we stop the curr

[2019-12-12 06:15] aquibbaig commented on #106
Perfect! My query was more regarding the consistency of the compression scheme so that nothing breaks. It's better to compress the files at an interval when bench-routes has stopped working?

[2019-12-15 08:06] muskankhedia commented on #115
In case there is an invalid URL or when the CLI returns an error, we can create a separate module to handle all the errors, handling all the different conditions possible. Like two of the possible conditions can be, one is invalid URL and the other one checking the internet connection and accordingly, the log can be maintained with proper details and the issue. I think it's better to open a separa

[2019-12-17 16:35] aquibbaig commented on #77
@Harkishen-Singh Depends on #113. We can schedule it to run at specific interval.

[2019-12-17 16:42] #54 closed

[2019-12-17 16:43] aquibbaig commented on #43
Send a signal to the frontend, frontend will send mails

[2019-12-20 15:30] Harkishen-Singh commented on #77
Yes. However, this needs to be done from within the go scripts I suppose. What do you think?

[2019-12-21 11:21] Harkishen-Singh opened #126 "Reduce redundancy in .tsx files"
We have good amount of redundancy in react UI. Redundancy includes react-chartjs code, `public opts` function etc which are found in `Ping.tsx`, `Jitter.tsx`, `FloodPing.tsx`, `Res-res.tsx`.

Other modular improvements are most welcome.

[2019-12-21 11:23] Harkishen-Singh commented on #115
@muskankhedia yeah, that would be better. And accordingly, the user can be alerted by the alerting system _(once its ready to)_

[2019-12-22 23:27] aquibbaig opened #128 "Bench routes collector"
When running this service, we need to know the internal conditions of the machine and report and incur necessary actions based on that

[2019-12-24 10:30] Jayashree-panda commented on #126
@Harkishen-Singh I would like to take this issue.

[2019-12-24 11:07] Jayashree-panda commented on #117
@Harkishen-Singh I will like to work on this issue.

[2020-01-02 15:31] ganeshpatro321 commented on #116
#134

[2020-01-04 05:29] ganeshpatro321 opened #136 "Module headers."
A header beside bench-route, describing which component/page we are in would be better for user, not to get confused.

![Screenshot from 2020-01-04 10-57-44](https://user-images.githubusercontent.com/30416891/71760274-1d298100-2ee1-11ea-9c1e-2420afde5e69.png)

[2020-01-04 05:32] ganeshpatro321 commented on #46
Is this solved @Harkishen-Singh

[2020-01-04 05:40] ganeshpatro321 opened #137 "Flood Ping module page UI bug."
**Describe the bug**
Flood ping module page contains two charts, these charts overflow the screen width, but these aren't scrollable. Mostly some css fix would be needed.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'benchmarks/flood-ping'
2. Select an URL and click 'show'
3. When the app is in full-screen, you cannot see the second chart.
4. When you resize the app-screen size to

[2020-01-04 05:43] ganeshpatro321 opened #138 "Design the settings screen."
Please follow [this](https://github.com/zairza-cetb/bench-routes-electron/issues/48) thread for the desription of the issue.

[2020-01-04 07:19] Harkishen-Singh commented on #80
@aquibbaig does this have to be anything different than the `approach.md`?

[2020-01-05 11:59] ganeshpatro321 commented on #118
#134

[2020-01-05 11:59] #118 closed

[2020-01-05 12:27] ganeshpatro321 opened #139 "Handle case when data received is null."
**Describe the bug**
When we query for time series data from the bench-routes server, there maybe certain cases when there is no data, and the data returned to the client is null. The current react code doesn't handle this case, and the app crashes with unhandled rejection giving (TypeError): data is not iterable. (as it null).

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'benchmar

[2020-01-05 12:37] #116 closed

[2020-01-05 12:44] Harkishen-Singh commented on #46
No. This is still to be covered.

[2020-01-05 13:18] ganeshpatro321 commented on #46
@Harkishen-Singh I was thinking of checking the service state of all the modules from the config file, see whether the state of the modules are active or passive, if active then stop the service, and then os.exit(1) the app. What do you think about this approach?

[2020-01-05 14:01] Harkishen-Singh commented on #46
Yes, moreover, explicitly declaring os.exit(0) should be the answer. Putting 1 will show a failure or error.

[2020-01-05 15:03] ganeshpatro321 commented on #46
Okay, noted.

[2020-01-06 14:27] Jayashree-panda commented on #138
@ganeshpatro321 Can I take this issue?

[2020-01-07 07:09] ganeshpatro321 commented on #138
Yes, follow the discussion thread and go with it. @Jayashree-panda

[2020-01-23 08:03] Harkishen-Singh opened #144 "Fix failing travis tests on Mac env"
Travis Mac job fails on `TestHandlerPing`. We need to investigate this since this occurs only in Mac env and not on Linux.

@aquibbaig you can have a look at this.

[2020-01-26 16:11] Harkishen-Singh opened #145 "functionality test before starting the execution"
Bench-routes provides support for multiple platforms. Features like monitoring can be performed on all platforms. However, those functionalities which require the help of subprocess (say `ping`, `flood ping`) are dependent on the command support offered by the operating system.

We need to test these supported functionalities and accordingly enable them in the respective operating system. Such tes

[2020-01-26 16:13] Harkishen-Singh commented on #137
This is fixed with the merge of https://github.com/zairza-cetb/bench-routes/pull/141.
Closing this.

[2020-01-26 16:13] #137 closed

[2020-01-29 08:56] aquibbaig opened #150 "Consistent frontend design"
**Is your feature request related to a problem? Please describe.**
A consistent frontend design, major refactor of UI components making them easy to grasp and
contribute as the code now is a bit messy.

**Describe the solution you'd like**
We would like to use `antd's` dashboard solution for enterprises, that comes with a predifined layout.

**Additional context**
Any one of these layouts will be

[2020-01-30 19:55] Harkishen-Singh opened #153 "Integrate Collector with the front end"
This will involve updating Querier in order to be able to read collector based time-series data. Accordingly, the UI will be updated, keeping the consistency similar to the other visualization parameters.

[2020-02-04 08:42] aquibbaig commented on #150
@Harkishen-Singh Should we go for ant-design or [Patternfly](https://www.patternfly.org/v4/)

[2020-02-07 05:31] Harkishen-Singh commented on #150
@aquibbaig, we are already using `reactstrap` which uses bootstrap components. That makes the ui fairly light. So, we should keep things close to this. yeah, we can go with ant or patternfly but things should be in material fashion and where ever applicable, use the `reactstrap` first since it is simple bootstrap.

[2020-02-11 12:23] aquibbaig commented on #150
@Harkishen-Singh Patternfly is no doubt good but lacks community(hence buggy). Ant-design is way more stable.

[2020-02-24 17:29] vattytrivedi commented on #150
@Harkishen-Singh Mixing two components aren't a great idea if required will replicate from either libraries

[2020-02-24 18:59] Harkishen-Singh commented on #150
@vattytrivedi sure. That would be best to reduce redundancy. For now, let's stick to reactstrap as it is simple and based on bootstrap, so would be easier for the contributors. Is that okay? @aquibbaig

[2020-02-26 06:25] aquibbaig commented on #150
@Harkishen-Singh Reacrstrap +1

[2020-02-26 07:01] aquibbaig opened #160 "Do not display charts when no data is returned from a url"
**Is your feature request related to a problem? Please describe.**
See #139.
**Describe the solution you'd like**
#139 has a fix #159, but we wouldn't want to display empty charts when there is no data. So there will be an extension on top of #159.

[2020-02-26 07:20] Harkishen-Singh commented on #160
We would need something like a component saying something similar to `Graph not found` instead of the chart component.

[2020-02-26 18:39] aquibbaig opened #161 "Use dynamic loading for charts"
**Is your feature request related to a problem? Please describe.**
If there is some form of delay in render of a component, it is better to load a spinner instead and show the component only after it has been loaded. Code splitting is done when codebases get really large and help us not load entire components at a time.

**Describe the solution you'd like**
We can use dynamic imports to load compo

[2020-02-26 19:53] Harkishen-Singh commented on #161
@aquibbaig, this is good from UX point. But I was thinking since we already support real-time streaming of data _(and hence sockets)_, we can make graphs being refreshed in regular intervals which happens from a push in service _(Note: only from service)_. This derives the true sense of dynamic graphs.

[2020-02-26 19:57] Harkishen-Singh opened #162 "Batch write in tsdb"
**Is your feature request related to a problem? Please describe.**
Currently, the write operations happen in every commit, which is very I/O expensive. Not to forget, write amplification in SSDs and frequent worn-out due to high writing. This can be solved by batch writing.

**Describe the solution you'd like**
We can implement in two ways:
1. Fixed time write: writing after every fixed interval.

[2020-02-26 20:00] Harkishen-Singh opened #163 "Writes in binary files than json"
**Is your feature request related to a problem? Please describe.**
JSON parsing and writing are costly. The cost increases when this happens at every commit, which is what our current scenario.

**Describe the solution you'd like**
Removing default JSON write and replacing with binary files only.

**Describe alternatives you've considered**
None. But open for suggestions.

**Additional context**
S

[2020-02-26 20:24] Harkishen-Singh opened #164 "Fix issues related to security and performance"
Current status in deepsource:
- [ ] 3 security issues
- [ ] 1 performance issue
- [ ] 1 style issue

https://deepsource.io/gh/zairza-cetb/bench-routes/run/41bf49cb-36f2-4c0a-8d72-0d6c3fc5b750/go/

[2020-02-27 15:56] pavansai1 commented on #163
I would like to pick up this as a part of GSScC'20

[2020-02-27 15:56] pavansai1 commented on #162
I would like to pick up this as a part of GSScC'20

[2020-02-27 15:57] pavansai1 commented on #128
I would like to pick up this as a part of GSScC'20

[2020-02-27 15:57] pavansai1 commented on #107
I would like to pick up this as a part of GSScC'20

[2020-02-27 15:58] pavansai1 commented on #106
I would like to pick up this as a part of GSScC'20

[2020-02-27 15:58] pavansai1 commented on #101
I would like to pick up this as a part of GSScC'20

[2020-02-27 19:04] Harkishen-Singh commented on #162
@pavansi1 welcome and thank you for showing your interest.
I see you have commented on 5 issues, but a student can be assigned only to one issue at a time, unless he or she completes it.
So, kindly reply the one your want to work on and we will assign accordingly.
Thank you

[2020-02-28 13:35] vipuldcoder commented on #161
I am Interested with the issue.

[2020-02-28 19:56] Harkishen-Singh commented on #161
@vipuldcoder sure, you can go ahead with this.

[2020-02-29 13:26] prajwal714 commented on #160
I am interested in this issue for GSSOC '20

[2020-02-29 13:29] prajwal714 commented on #114
Interested in the issue for GSSOC'20

[2020-03-01 06:08] prajwal714 commented on #126
Has the issue been resolved? if not I would like to take this issue.

[2020-03-01 07:10] Harkishen-Singh commented on #114
You can go head with this issue. Do you want this to be assigned?

[2020-03-01 09:22] prajwal714 commented on #114
Yeah. Assign it to me. Thanks @Harkishen-Singh

[2020-03-01 09:45] Harkishen-Singh commented on #114
Sure. You can start working on this. Should not take longer than 4 days at max.

[2020-03-01 13:53] Harkishen-Singh commented on #126
@prajwal714 yeah it is open. You can go ahead with its implementation.

[2020-03-01 14:41] Harkishen-Singh opened #165 "Add support for time involved in quering operation as an API"
We do querying in order to form and visualize graphical values. This involves time. Capture this time and pass it via existing functionality.

[2020-03-02 16:49] muskankhedia commented on #163
Sure. Go ahead!

[2020-03-03 09:20] gunjanmimo commented on #136
SIr, I wan to work on this issue?

[2020-03-04 06:11] aquibbaig opened #167 "Migrate user interface to material-ui"
**Is your feature request related to a problem? Please describe.**
For people who are picking up issues, getting started with ui seems pretty hard for a js newbie cause the workflow is pretty confusing as in now.

**Describe the solution you'd like**
We would restructure the code structure to have a proper data flow and migrate to best possible ui standards such as material-ui.

**Describe alterna

[2020-03-04 06:12] aquibbaig commented on #167
Things to be done:
- [ ] Remove reactstrap completely
- [ ] setup material-ui
- [ ] Refactor Layout components
- [ ] Refactor service-ui page components
- [ ] Refactor other components
- [ ] Write tests and close

[2020-03-04 07:09] aquibbaig commented on #161
@vipuldcoder I think this issue needs to wait for now, because we are on our way to make a new version of our dashboard in #167, you might want to contribute to that instead. Thanks for your interest in bench-routes.

[2020-03-04 07:09] muskankhedia opened #169 "Update the readme with the postman documentation link"
#### Describe
This is the link to the postman documentation for Bench-routes: [Postman link.](https://documenter.getpostman.com/view/6521254/SzRuWqq9)

Add the link to the readme.md with some explanation.

[2020-03-04 09:35] muskankhedia opened #170 "Link the start and stop button with the service in monitoring field"
**Describe the bug**
Currently, the start and stop button in the monitoring screen is not working. It should be linked with the service and start and stop the monitoring of routes.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run the server
2. Run the dashboard UI
3. Click on the `monitoring` option
4. Click on the start or stop button
5. Buttons won't work

**Expected behaviour**
On cli

[2020-03-04 16:39] vattytrivedi opened #171 "Convert the approach.md to proper markdown file"
#### Describe
Update the file with the proper format of markdown
[Approach file link](https://github.com/zairza-cetb/bench-routes/blob/master/approach.md)

[2020-03-05 06:38] Harkishen-Singh commented on #171
This is open for contributions for gssoc participants. Assignee is for reviews.

[2020-03-05 13:57] muskankhedia commented on #171
@vattytrivedi Please provide the label with only one difficulty level as mentioned in the gssoc guidelines. So, I am removing one of label *beginner* from the issue.

[2020-03-05 15:47] divyaprakash-Rx commented on #170
I want to work on this issue. Please assign it to me.

[2020-03-05 15:51] muskankhedia commented on #170
Sure. Go ahead.

[2020-03-06 01:40] divyaprakash-Rx commented on #170
@muskankhedia Ok

[2020-03-09 09:00] divyaprakash-Rx commented on #167
I want to work on it.
Please assign it to me

[2020-03-09 09:17] aquibbaig opened #175 "Implement Ping module in v1.1 dashboard"
**Is your feature request related to a problem? Please describe.**
We moved to material-ui. We need to implement our modules as per material-ui components.

**Describe the solution you'd like**
Every page extends to BaseLayout. Use material-ui components to design the page.

[2020-03-09 09:17] aquibbaig commented on #167
@divyaprakash-Rx Awesome! Thanks for your interest. I'd like you to wait for #174 first. That would strike out Tasks "1, 2, 3" from https://github.com/zairza-cetb/bench-routes/issues/167#issuecomment-594346139. After that we can carry on with the migration. Which is building service-ui pages. You wanna pick that up? If yes, I'd open up a new subissue and track it along this. We have to build indiv

[2020-03-09 09:17] aquibbaig commented on #175
First, #174 needs to be merged.

[2020-03-09 10:07] divyaprakash-Rx commented on #167
Ok

[2020-03-10 10:54] Harkishen-Singh opened #176 "Shift to yarn for frontend support"
I think its time, we should shift to yarn. Yarn provides better package management and security benefits.

[2020-03-10 19:59] maheshschand commented on #176
Interested. Could you please assign it to me @Harkishen-Singh ?

[2020-03-10 20:02] maheshschand commented on #171
Interested. Could you please assign this to me?

[2020-03-10 20:02] Harkishen-Singh commented on #176
sure @maheshschand . In this, I think we would require some installation instructions which should be done in `INSTALL.md`, and a `yarn.lock` should be enough. Will that be okay, @aquibbaig @ganeshpatro321 ?

[2020-03-11 03:05] maheshschand commented on #169
Interested. Could you please assign this to me @muskankhedia ?

[2020-03-11 03:05] maheshschand commented on #169
Interested. Could you please assign this to me @muskankhedia ?

[2020-03-11 03:12] maheshschand commented on #164
Interested. Could you please assign to me?

[2020-03-11 04:08] maheshschand commented on #176
Please review this. I added yarn.lock file.

[2020-03-11 04:09] maheshschand commented on #176
Please review this @Harkishen-Singh . I added yarn.lock file.

[2020-03-11 04:22] maheshschand opened #178 "Speeding up Travis CI Build"
**Problem**
Travis CI Build is slow for the project.

**Solution**
We can speed the build by using "parallelizing" concept.

[2020-03-11 04:25] maheshschand commented on #178
I like to work on it through GSSOC. Could you please assign me this @Harkishen-Singh ?

[2020-03-11 14:28] muskankhedia commented on #164
@maheshschand Sure. Go ahead.

[2020-03-11 14:45] muskankhedia commented on #169
@maheshschand Sure.

[2020-03-12 18:12] aquibbaig commented on #176
@maheshschand Hello. Great work! I have added a couple of comments for you.

[2020-03-12 22:44] maheshschand commented on #169
@muskankhedia I updated README.md with postman documentation. Could you please review it?

[2020-03-12 22:45] maheshschand commented on #178
@Harkishen-Singh Could you please look into this issue? Is this feature required or not?

[2020-03-13 00:11] maheshschand commented on #176
I made a pull request #177 . Could you please review it? @aquibbaig

[2020-03-13 13:52] Chetanjain10 commented on #169
Could you please assign me this task. This is going to be my first task. please assign it to me.

[2020-03-13 17:37] muskankhedia commented on #169
@Chetanjain10 This issue has already been solved by @maheshschand earlier. Please look over the other issues and feel free to take up and ask doubts.

[2020-03-13 17:37] #169 closed

[2020-03-14 07:08] poojasrinivass commented on #165
I would like to work on this issue. Can you assign this to me?

[2020-03-15 09:29] maheshschand commented on #176
Again. Could you please add a label that would help in gssoc scoring?

[2020-03-15 10:34] ganeshpatro321 commented on #178
@maheshschand This would be a great feature. Please provide some useful resources here.

[2020-03-15 10:48] maheshschand commented on #178
@ganeshpatro321 I read from this documentation. [Speeding up the build](https://docs.travis-ci.com/user/speeding-up-the-build/)

[2020-03-16 04:11] maheshschand commented on #176
@ganeshpatro321 I made a pull request #180 Please review this.

[2020-03-19 22:40] shwhite17 commented on #170
wanna work on it?

[2020-03-20 04:00] muskankhedia commented on #170
@shwhite17 Sure. You can solve the issue and make a PR for the same.

[2020-03-20 15:54] ShrutiAggarwal99 commented on #170
I would like to work on this issue too

[2020-03-20 15:58] ShrutiAggarwal99 commented on #170
@shwhite17 Are you working on this issue? If not I'd like to take it up.

[2020-03-20 18:39] Harkishen-Singh commented on #160
@aquibbaig why is this marked as `not-ready`?

[2020-03-20 18:58] ShrutiAggarwal99 commented on #160
Would like to work upon this issue

[2020-03-20 19:41] Harkishen-Singh commented on #160
sure @ShrutiAggarwal99. please go ahead with the fix.

[2020-03-21 06:34] aquibbaig commented on #160
@Harkishen-Singh Can be implemented in `v1.0`. @ShrutiAggarwal99 TIP: Have a look at https://reactjs.org/docs/code-splitting.html. Hope this helps!

[2020-03-21 08:16] Harkishen-Singh opened #183 "Board: release alpha-3"
Following are the list of features we would love to cover for alpha-3 version:

### API

- [ ] Start or stop collector through the dashboard

### Persistent connection

- [ ] live updates in dashboard

### Dashboard

- [ ] notifications as a toast
- [ ] Collector support in graphs

### TSDB

- [ ] saving time-series as binary data instead of JSON (for improving space complexity)

**Notes:**
1. We

[2020-03-21 08:17] Harkishen-Singh commented on #183
Kindly add more tasks as a checklist in the description for the upcoming release.

[2020-03-21 09:15] ShrutiAggarwal99 commented on #160
Thanks @aquibbaig I'll check it out

[2020-03-22 12:59] #178 closed

[2020-03-25 16:02] ganeshpatro321 opened #185 "Reconfigure travis.yml to support multiple language."
We have to run CI tests for multiple languages(golang and nodejs). The present configuration doesnot ideally match our requirement. The build continuously shows errors because its not able to pick up the correct versions.

[2020-03-26 12:59] ganeshpatro321 commented on #185
#186 solves this. Closing it.

[2020-03-26 12:59] #185 closed

[2020-03-28 11:01] ganeshpatro321 opened #189 "Make collector available as independent tool along with the current implementation in main.go"
The current design of collector acts as an independent application, with a separate `main.go` file. And the current implementation also has duplicate code, doing the same functionality.
 - if enableProcessCollection block in src/main.go and  src/collector/main.go

What I suggest is maintaining collector similar to other modules(same design). This will also help integrating collector with the UI.

[2020-03-28 17:36] vidyasonawane commented on #126
Is the issue fixed? If not, I would like to work on it.

[2020-03-28 18:10] Harkishen-Singh opened #190 "Set up continuous deployment"
This aims at setting up continuous deployment in master branch for bench-routes. This is important in view of explanation to the public, testing of performance, behaviour, etc.

[2020-03-28 19:15] ganeshpatro321 commented on #190
What platform would you suggest? @Harkishen-Singh

[2020-03-28 19:48] Harkishen-Singh commented on #190
For now I think we should be going with heroku.

[2020-03-29 07:29] vidyasonawane opened #192 "Add X-axis and Y-axis labels in all charts in the dashboard."
This will be helpful for users to analyze the data.

[2020-03-29 07:45] vidyasonawane opened #193 "Add tooltip for start and stop buttons in Monitoring and Tests tabs."
When the user hovers the pointer over the start and stop buttons, without clicking it, a tooltip may appear which is a small "hover box" which gives the information about the functionality of the buttons.

[2020-04-08 08:09] Sapna2001 opened #212 "Update Readme."
Readme can be updated with details of mentors,admins,slack channels and details of gssoc. Please assign me this issue.

[2020-04-11 10:01] Harkishen-Singh opened #226 "Go profiling in bench-routes"
We need to support profiling of go. This is necessary to get an insight into the mechanism happening in the go-routines and in the heap.

[2020-04-13 05:29] aquibbaig commented on #96
Any progress on this yet? @Harkishen-Singh cause I'd pick this up rn.

[2020-04-13 05:37] Harkishen-Singh commented on #96
@aquibbaig no progress on this. Feel free to take it up.

As an initial approach, I think we need to have a global flush that flushes the samples into the database based on two approaches:

1. after a certain time
2. after a certain number of samples in the chain.

Also, the flush should be only in those chains which have new changes, not all the chains. And, this flush operation should occur at o

[2020-04-13 17:46] Harkishen-Singh commented on #212
@Sapna2001 sure. You can go ahead with this.

[2020-04-13 17:48] Harkishen-Singh commented on #193
Sure. This will be great to have.

[2020-04-17 12:32] Sapna2001 commented on #212
Can you add gssoc and difficulty label for this issue.

[2020-04-21 19:21] wale-bant commented on #193
@Harkishen-Singh I'd love to implement this.

[2020-04-21 19:26] Harkishen-Singh commented on #193
Sure @wale-bant, go ahead. This will be implemented in `v1.0` for now since `v1.1` is not in development as of now. Once we get a good support in v1.1, will add this over there as well.

[2020-04-21 19:27] wale-bant commented on #193
Great. I'm on it.

[2020-04-27 15:16] #176 closed

[2020-04-28 15:29] Harkishen-Singh commented on #164
@maheshschand any updates?

[2020-04-28 16:10] maheshschand commented on #164
Sorry I can't resolve it. Can you unassign me?

On Tuesday, April 28, 2020, Harkishen Singh <notifications@github.com>
wrote:

[2020-04-28 16:52] muskankhedia opened #232 "Display the statistics in chart as well as table"
**Is your feature request related to a problem? Please describe.**
For system metrics, after the data is received in the front-end from the querier, for better user experience it can be displayed both in the form of tables and charts. The user can choose the required option from the tab and toggle between the view.

**Describe the solution you'd like**
To avail both the charts and the tables optio

[2020-04-29 17:56] akshaysingh5 commented on #226
Can you please elaborate on the issue and give some initial guidance, I would like to work on this issue.,

[2020-04-29 18:01] akshaysingh5 commented on #139
I would like to work on this issue, please give me a starting point.

[2020-04-29 18:01] Harkishen-Singh commented on #226
Sure @akshaysingh5 . The best place would be the original docs which are rather simple to understand, https://golang.org/pkg/net/http/pprof/ and along with articles on the web that you can search for in-depth knowledge.

[2020-04-29 18:03] akshaysingh5 commented on #136
I would like to work on this issue, kindly assign me.

[2020-04-29 18:06] akshaysingh5 commented on #175
I would to like work on this issue but I don't know up to what extent the UI needs to be changed. Please elaborate.

[2020-04-29 18:09] akshaysingh5 commented on #171
I would like to work on this issue, please elaborate.

[2020-04-29 18:16] Harkishen-Singh commented on #171
I think this is already done. Closing it so that others don't confuse. Thanks.

[2020-04-29 18:16] #171 closed

[2020-04-29 20:07] Harkishen-Singh opened #234 "Update system and process metrics with new chainset in tsdb"
PR #233 added the much-needed batch writes that drastically reduce the disk IO and prevents write amplification and SSD burnouts. However, this was applied to the main bench-routes and the system, process metrics were not updated. The aim is to update the system and process metrics in lines of the chainset used in bench-routes. Without this, they will not be able to save to the secondary storage.

[2020-04-30 15:00] ganeshpatro321 commented on #232
It will be good to have.

[2020-05-01 12:25] Rukmini-Meda commented on #165
I would like to work on this issue. Please assign this to me as part of GSSoC'20.

[2020-05-02 15:43] Harkishen-Singh commented on #234
Fixed with #230

[2020-05-02 15:43] #234 closed

[2020-05-02 15:43] #212 closed

[2020-05-02 15:44] Harkishen-Singh commented on #189
Yes, now this can be done for:
1. process-collector
2. system-collector

[2020-05-02 15:47] Harkishen-Singh commented on #167
lot of issues are related to this. We should refer those issues here as links and close them, so as to keeps the issues, features and bugs focused.

[2020-05-02 15:48] #126 closed

[2020-05-02 15:49] Harkishen-Singh commented on #139
can someone confirm if this still exists?

[2020-05-02 15:50] Harkishen-Singh commented on #107
This is done in #230. Closing it.

[2020-05-02 15:50] #107 closed

[2020-05-02 15:51] Harkishen-Singh commented on #101
I dont think this is necessary. Also, @Pratik32 has implemented this in a way. So if required in future, we can modify the changes done by him.

[2020-05-02 15:51] #101 closed

[2020-05-02 15:52] Harkishen-Singh commented on #96
This is fixed in #233. Closing this.

[2020-05-02 15:52] #96 closed

[2020-05-02 15:53] Harkishen-Singh commented on #76
This will be done via the UI now. Hence, this is unrelated.

[2020-05-02 15:53] #76 closed

[2020-05-02 15:57] Harkishen-Singh commented on #46
I think we have a level of this currently. Closing this. We can later re-open when this becomes a priority, probably when we handle a million go-routines.

[2020-05-02 15:57] #46 closed

[2020-05-02 15:58] Harkishen-Singh commented on #40
I think, we have this now. Closing.

[2020-05-02 15:58] #40 closed

[2020-05-02 15:59] Harkishen-Singh commented on #28
As per current design, this will come under the monitoring section.

[2020-05-04 14:29] Harkishen-Singh opened #239 "Support for parallel and serial execution of set of queries"
The current querier implementation is healthy enough for running thousands of queries in parallel as a set. This support should be provided natively in the `querier` package in `tsdb`. Also, even though serial execution is no extra pain, it will be great to have them as well.

The basic implementation bing, a register function to register a query in a set (unique), which can be set as `executionTy

[2020-05-10 08:02] aquibbaig opened #241 "Feature to view recent iteration data graphs as diffs"
This may come as an enhancement to the UI we have right now. Supposedly, the user wants to compare his latest run with most recent iterations, we should provide that feature to him as well. This can be done as diffs with graphs so that the results are easily differentiable.

[2020-05-10 08:03] aquibbaig commented on #226
@akshaysingh5 Are you working on this issue?

[2020-05-10 08:25] Harkishen-Singh commented on #226
@akshaysingh5 any updates?

[2020-05-10 09:09] Harkishen-Singh opened #242 "Insert null values for blocks that dont exists in UI"
currently, if a block does not exist, the graph is formed instead of discontinuing for those points. This can be done by inserting `null` in those places in the frontend - v1.1

[2020-05-10 12:32] aquibbaig commented on #239
I would work on this issue. It would help me understand querier properly.

[2020-05-10 12:39] aquibbaig commented on #239
@Harkishen-Singh  You mean to say `executionTypeParallel` or `executionTypeSerial` ?

[2020-05-11 05:25] ganeshpatro321 commented on #242
Tell me the steps to reproduce @Harkishen-Singh

[2020-05-11 05:37] ganeshpatro321 opened #244 "Implement Modules UI page in v1.1"
Test and Monitoring UI pages such as Ping, jitter, FloodPing have to be implemented in the v1.1.

- [x] Ping
- [ ] FloodPing
- [ ] Jitter
- [ ] Req-Res

[2020-05-11 05:42] muskankhedia commented on #244
@ganeshpatro321 I am currently working on setting up the ping module in the UI for now. Will get it completed in 2-3 days.
We have created a new design for that. It looks a bit untidy for now because of the work-frame. [Link](https://www.figma.com/file/svTa6jAUUeMmm4MFN3vXgo/Bench-Routes-1.1?node-id=0%3A1)
Please have a look and suggest changes, if any.

[2020-05-11 05:50] ganeshpatro321 commented on #244
@muskankhedia Looks good. I was just starting to work on the ping page. Anyways, would you like me to setup the socket connection as it was in v1.0?

[2020-05-11 05:57] muskankhedia commented on #244
@ganeshpatro321 As per the current discussion, I used API for retrieving the data from the backend.
Further, I think @Harkishen-Singh can guide us better.

[2020-05-15 14:36] aquibbaig commented on #226
I guess there are no updates on this. @akshaysingh5 Feel free to take up any other issues.

[2020-05-21 06:17] aquibbaig commented on #226
Solved via #252

[2020-05-21 06:17] #226 closed

[2020-05-21 08:02] Harkishen-Singh commented on #244
This approach has been changed and the #251 solves this!

[2020-05-23 16:57] #170 closed

[2020-05-23 16:59] Harkishen-Singh commented on #167
Mostly covered up. Hence closing this.

[2020-05-23 16:59] #167 closed

[2020-05-23 17:00] Harkishen-Singh commented on #161
Unrelated now.

[2020-05-23 17:00] #161 closed

[2020-05-23 17:00] Harkishen-Singh commented on #150
The current v1.1 looks great to the eyes along with the consistency. Hence, closing. If any views, feel free to open again.

[2020-05-23 17:00] #150 closed

[2020-05-23 17:01] #136 closed

[2020-05-23 17:01] #139 closed

[2020-05-23 17:02] #160 closed

[2020-05-23 17:03] Harkishen-Singh commented on #85
With the support for dockerfile, we can now run this on Kubernetes as well. Hence, closing.

[2020-05-23 17:03] #85 closed

[2020-05-23 17:03] #77 closed

[2020-05-23 17:04] Harkishen-Singh commented on #75
With almost 3 refactorings completed, the code looks well now. However, the perfect refining will happen over time. Too generic. Closing.

[2020-05-23 17:04] #75 closed

[2020-05-23 17:04] #74 closed

[2020-05-23 17:09] Harkishen-Singh commented on #23
With the introduction of batch-writes, the data that is left over is now equal to the ones gathered within the buffer seconds only. This is crucial but seems no way to fix right now. Even other monitoring tools lose their data in this period. Disk write is not an option since we want to lessen the IO. Hence, only in-memory remains an option, which again means that on closing, data loss will occur.

[2020-05-23 17:09] #23 closed

[2020-05-23 17:10] #32 closed

[2020-05-23 17:10] Harkishen-Singh commented on #65
I think this is fixed now. Feel free to reopen if not.

[2020-05-23 17:10] #65 closed

[2020-05-23 17:11] Harkishen-Singh commented on #99
This will be solved in binary tsdb. Hence closing.

[2020-05-23 17:11] #99 closed

[2020-05-23 17:13] Harkishen-Singh commented on #193
This needs to be implemented in v1.1. Also, now we don't have start-stop. Rather, the tooltip can be applied to many other places that are required foremost.

[2020-05-23 17:14] #117 closed

[2020-05-24 18:36] aquibbaig opened #254 "Proper error handling in bench routes"
**Is your feature request related to a problem? Please describe.**
As all of us might know, stack traces are very little useful in determining errors in golang, mostly
if we have a complex long running application.

**Describe the solution you'd like**
Inspired by [Error handling in Upspin](https://commandcenter.blogspot.com/2017/12/error-handling-in-upspin.html), we should have a proper defined e

[2020-05-29 12:03] Harkishen-Singh opened #255 "Extend system-metrics with additional details"
Currently, system-metrics monitor the following:
1. CPU usage (percent)
2. Memory usage (percent)
3. Memory cache
4. Disk I/O

There are tons of other details that are required:
1. Network speed
2. CPU clock rate
3. Total number of threads (OS and kernel)
4. Per-core performance

Feel free to comment for other related details.

[2020-06-04 09:56] aquibbaig commented on #163
Hi, @all. This issue is given top priority for now as we move towards a more universal way of crunching data, independent of costly parsing of JSON files.

[2020-06-06 11:57] Harkishen-Singh opened #257 "UI for routes input for monitoring"
Provide UI for taking routes as input for monitoring screen.

[2020-06-06 12:04] Harkishen-Singh opened #258 "Support for querier component in frontend for variable time-based querying"
The current querying in the frontend happens for recent 1-hour samples. The querier in br supports time-based querying that is capable of fetching samples within a given time-range. The UI for this is to be designed.

[2020-06-06 12:06] #183 closed

[2020-06-06 12:10] aquibbaig opened #259 "Migrate away from JSON storage"
Subtasked under #163.

### Introduction

Currently, we are storing in JSON format which is costly to parse each time. What we would like to have is:
- A file with a general format as `chunk_{count}_{start-time}_{end-time}`
- The file has no format as such, so that we can read through the data stream.

### How did we store data earlier
[code]

### What would we want to have:
- Remove JSON keys and

[2020-06-06 12:16] aquibbaig opened #260 "Synchronise writes into each file created by binary tsdb"
Subtasked under #163.

### Introduction

If we are creating a binary TSDB in the first place, querying will be most affected if we do not handle synchronizations between files, even chain corruptions will be irretrievable.

### What we would like to have

- Write into each file for a specific time interval, say 1 hour, then create another chunk file and keep on writing data into it.
- When someone

[2020-06-06 12:20] Harkishen-Singh opened #261 "RChain and WChain for new tsdb"
Subtask under: #163

The querier needs to be updated with the new tsdb as well. The implementation of chains should be in lines of - WChain that supports write based functions and RChain that supports read based functions.

[2020-06-12 14:24] aquibbaig opened #265 "Dark mode support for the dashboard"
For a better user experience, we need to add "dark mode" to our bench-routes dashboard.
We can leverage `material-ui` themes to work it out

[2020-06-12 14:32] aquibbaig opened #266 "Support for user input in POST, PUT (network) requests"
Currently, we support naive GET requests to monitor routes. We need to support POST, PUT requests, headers, parameters, etc. in a separate view. The idea is to input one route at a time (for now) and store it in the config.

[2020-06-20 19:51] #265 closed

[2020-06-20 19:53] aquibbaig opened #271 "Material UI typography font family doesn't seem to work"
Expected behaviour should be that when we set a theme at first the font-family must be replicated across the app acoording the [documentation](https://material-ui.com/customization/typography/).

[2020-06-21 16:45] #271 closed

[2020-06-23 19:13] aquibbaig opened #275 "saving route responses?"
The USP of Postman  app is to check for responses from specific routes and test them. What if we would do it in a better way? Since we are already monitoring routes data and storing the required ping or jitter values, what if we store the responses too in some specific (deterministic) interval? That way all the user has to do is search in the table, also not always memorise the params, headers, bo

[2020-06-27 16:12] Harkishen-Singh commented on #275
This will be good to have.

[2020-07-15 18:00] aquibbaig opened #277 "Bench routes CLI"
Bench routes CLI is an easy way to get the state of your application in general, removing the hassle of going through the entire dashboard. There wont be graphs or any fancy text, just the status of the application in general.
Note: Users would be able to open BR using the cli

[2020-07-20 06:00] aquibbaig opened #279 "Truncate/Trim route length"
<img width="1199" alt="Screenshot 2020-07-20 at 11 28 27 AM" src="https://user-images.githubusercontent.com/26324376/87904576-37d9d680-ca7c-11ea-8bd6-9b7c93387572.png">

The length of the route should be truncated to, say 40 characters to prevent them from overflowing over metrics.

[2020-07-24 17:32] Harkishen-Singh opened #280 "USPs"
Following aim to cover the expected features and aims of the project in the near future:

Bench-routes aims to become an API monitoring, benchmarking and alerting tool that can monitor API endpoints at scale. The current design is capable of handling the scale of 10k targets, however, we need to increase this to 1M+ level. Bench-routes also aims to behave as an API performance exporter for Prometh

[2020-07-26 06:19] aquibbaig opened #284 "Seggregate/group routes as per use cases"
Currently, we display all the routes in UI in a single table. But what if the user wants to group certain routes w.r.t a certain parameter. For example: If I have an application called `blog`, I would like to group all the routes under it within the namespace of `blog`.
[code]

This feature needs to be provided as a part of quick input to either make a separate group or add it to an existing group

[2020-07-26 06:21] aquibbaig opened #285 "Caching UI data"
We do not have to make network requests to the server everytime we wanna fetch something, cause if an endpoint has 10k routes, fetching 10k routes everytime with network requests is awful. Better use redux store and cache the data in the local storage for further usage.

[2020-07-26 15:11] muskankhedia commented on #192
Fixed in PR #286

[2020-07-26 15:11] #192 closed

[2020-07-27 06:44] aquibbaig commented on #284
## Proposal
----

### Frontend
- Modification of the quick input page to include a `group` entry which will be `isRequired`. In this entry the user can add a new group or choose from a list of groups present in his project.
- When user doesn't select any group name, generate a group name for the route using [haikunator](https://github.com/Atrox/haikunatorjs). To check the overlapping probability o

[2020-07-27 09:17] Harkishen-Singh commented on #284
A clean UI is prefered by all. So, this should not be an optional thing from the `quick-input` screen's perspective. What we should rather do is that in the Monitoring screen, give a checkbox in the top as `Group`. If checked, the routes will be grouped by domain names (via backend). This by no means requires a change in the quick-input screen.

**Approach**

The approach remains pretty straight f

[2020-07-27 10:21] aquibbaig commented on #284
@Harkishen-Singh I do not think it will be a good idea to checkbox here in terms of UI perspective. People most necessary would want to do the seggregation once and for all when they input a route and nobody will spend time checking for `groups` later on. The point of having this is basically having a once and for all manual input and rest is automation.

[2020-07-27 12:40] aquibbaig opened #289 "Redux?!"
Having a humongous data to be displayed is pretty common in applications like bench routes. What we would want to keep in mind that once we have humongous data, it is not necessarily important to bring all those data to the browser. It's pretty pointless to bring up data on to the user of the user doesn't need it in the first place. We would want bench routes (user interface) to be a smart applica

[2020-07-27 13:08] #193 closed

[2020-07-27 14:35] Harkishen-Singh commented on #153
This is mostly covered.

[2020-07-27 14:35] #153 closed

[2020-07-27 14:35] Harkishen-Singh commented on #175
This is done. Closing.

[2020-07-27 14:35] #175 closed

[2020-07-27 14:37] Harkishen-Singh commented on #144
This is fixed by cirrus ci.

[2020-07-27 14:37] #144 closed

[2020-07-27 14:37] #138 closed

[2020-07-27 14:37] Harkishen-Singh commented on #128
The current scope of the project does not have any plans for this. Hence, closing.

[2020-07-27 14:37] #128 closed

[2020-07-27 14:38] Harkishen-Singh commented on #115
With the merge of #288, this is covered. Hence, closing.

[2020-07-27 14:39] #115 closed

[2020-07-27 14:40] Harkishen-Singh commented on #45
At present, this happens by default. Hence, closing.

[2020-07-27 14:40] #45 closed

[2020-08-01 05:25] aquibbaig opened #292 "Consistent theming across the dashboard"
Design a layout that all pages extend to, having a pageheader, content and/or footer. This will allow a rather consistent theming across the entire dashboard.

[2020-08-20 08:29] Harkishen-Singh commented on #242
This needs to be implemented in the go code.

[2020-08-23 23:21] soulclimberchick commented on #279
Hello, I would like to take a stab at this one. Can it be assigned to me?

[2020-08-24 04:24] soulclimberchick commented on #279
Hey there, I can't get this issue to reproduce. See screenshot. IT looks like it's being truncated by field width.
<img width="1552" alt="Screen Shot 2020-08-23 at 9 23 06 PM" src="https://user-images.githubusercontent.com/26016530/91003757-037b9d80-e587-11ea-8ff2-9d431b146252.png">

[2020-08-24 05:04] aquibbaig commented on #279
Hi, @soulclimberchick Thanks for the heads up. I think in most places this is handled by default by the table and in places where it is not we can make use of the `truncate` method defined in `dashboard/v1.1/src/utils/stringManipulations.ts`. In this specific case, if you'd use Firefox then the routes are no more truncated by default, for this inconsistent behaviour it seems wise enough to forcefu

[2020-08-24 07:07] Harkishen-Singh commented on #279
Not sure, but as far as I remember, this was done in the react UI with the extra long urls being shown in complete length when hovered over the text.

Also, @soulclimberchick if you want to contribute the react part, then install dependencies in `dashboard/v1.1` using `yarn install` (assuming you have yarn installed, else install yarn first. That's pretty simply. Let me know if you face any issues

[2020-08-24 19:24] soulclimberchick commented on #279
Thank you! I am a bit rusty in React but I've done several projects using it so I'm sure I can pick this up still. Those details are super handy to have in the issue tickets - especially for ones marked as good-first-issue since most of us picking those up are pretty green and flying blind in these open source projects. :)

*Unrelated to this ticket* If either of you happen to know which open issu

[2020-08-24 19:32] Harkishen-Singh commented on #279
@soulclimberchick its perfectly fine whether you are learning or gathering experience in any language. We will try our best to make comments that are sensible enough and solves the issues you are willing to solve.

In terms of the ease with Go and with this project, I will advise you to go through this.

https://github.com/zairza-cetb/bench-routes/issues/165

This should involve both Go and a bit

[2020-08-24 19:33] #189 closed

[2020-08-24 19:36] soulclimberchick commented on #279
You rock, thank you!

[2020-08-24 19:37] Harkishen-Singh commented on #244
I think this is addressed.

[2020-08-24 19:37] #244 closed

[2020-08-24 19:40] Harkishen-Singh commented on #164
Ahh, sadly, these are no more available. Closing for now. Consider reopening if any related issues are reported.

[2020-08-24 19:40] #164 closed

[2020-08-26 11:30] Harkishen-Singh opened #293 "Add Jetbrains in Readme for IDE support"
Jetbrains has been providing us with constant support with development-related tools. These include IDEs, Database consoles, etc.

![Screenshot from 2020-08-26 16-59-28](https://user-images.githubusercontent.com/33792202/91298441-a9b0e880-e7bd-11ea-93da-76234f613fec.png)

[2020-08-30 15:14] aquibbaig opened #295 "Measuring query times from the TSDB"
It is good to have a metric which measures `query_time` of a particular query from our Querier for a datapoint stored in TSDB. This will not only help in performance analysis, it will also help in benchmarking our architecture for good.

[2020-10-16 06:23] aquibbaig opened #296 "Ship the dashboard along with bench routes as a single service"
people who install bench routes must be able to open up the browser from bench routes, in some way or the other. A good way would be to expose a route via mux, for example: `/analytics` where it spits out all the relevant information via bench-routes dashboard.

[2020-12-01 05:32] aquibbaig opened #299 "Remove redundancies in utils.BRMatrix"
Inspecting the BRMatrix struct present in `types.go`, we find a lot of redundancies in the form of route's URI string used multiple times in a nested fashion, we instead could work on a more compact and precise data structure for the same. This can be solved as and when we migrate to a new TSDB.

[2020-12-01 05:33] aquibbaig opened #300 "Lock to stable dependencies in package.json"
We should lock to stable versions of react dependencies, which would not likely break the code for a certain time. Currently, material-ui breaks the dashboard in dev.

[2020-12-02 14:41] #300 closed

[2020-12-17 09:49] kavyashree1903 commented on #232
@muskankhedia I want to work on this?

[2021-01-13 13:20] aquibbaig opened #305 "Export queried data in some readable format"
The data queried from the service could be made available to be downloaded as `csv` or some other format.

[2021-01-18 14:49] sonatype-depshield[bot] opened #307 "[DepShield] (CVSS 7.5) Vulnerability due to usage of github.com/hashicorp/consul:api:1.3.0"
**Vulnerabilities**

DepShield reports that this application's usage of [github.com/hashicorp/consul:api:1.3.0](https://ossindex.sonatype.org/component/pkg:golang/github.com/hashicorp/consul/api@1.3.0) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2020-7219] HashiCorp Consul and Consul Enterprise up to 1.6.2 HTTP/RPC services allowed unb...](https://ossindex.sonatype.org/vuln/

[2021-01-18 14:49] sonatype-depshield[bot] opened #308 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20190813141303-74dc4d7220e7"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20190813141303-74dc4d7220e7](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20190813141303-74dc4d7220e7) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:50] sonatype-depshield[bot] opened #309 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20181201002055-351d144fa1fc"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20181201002055-351d144fa1fc](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20181201002055-351d144fa1fc) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:50] sonatype-depshield[bot] opened #310 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20180906233101-161cd47e91fd"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20180906233101-161cd47e91fd](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20180906233101-161cd47e91fd) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:50] sonatype-depshield[bot] opened #311 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20190404232315-eb5bcb51f2a3"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20190404232315-eb5bcb51f2a3](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20190404232315-eb5bcb51f2a3) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:50] sonatype-depshield[bot] opened #312 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20190311183353-d8887717615a"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20190311183353-d8887717615a](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20190311183353-d8887717615a) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:50] sonatype-depshield[bot] opened #313 "[DepShield] (CVSS 5.9) Vulnerability due to usage of golang.org/x:crypto:0.0.0-20180904163835-0709b304e793"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:crypto:0.0.0-20180904163835-0709b304e793](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/crypto@0.0.0-20180904163835-0709b304e793) results in the following vulnerability(s):

- (CVSS **5.9**) [[CVE-2019-11840]  Use of Insufficiently Random Values](https://ossindex.sonatype.org/vuln/5121f5ff-9831-

[2021-01-18 14:50] sonatype-depshield[bot] opened #314 "[DepShield] (CVSS 5.9) Vulnerability due to usage of golang.org/x:crypto:0.0.0-20181029021203-45a5f77698d3"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:crypto:0.0.0-20181029021203-45a5f77698d3](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/crypto@0.0.0-20181029021203-45a5f77698d3) results in the following vulnerability(s):

- (CVSS **5.9**) [[CVE-2019-11840]  Use of Insufficiently Random Values](https://ossindex.sonatype.org/vuln/5121f5ff-9831-

[2021-01-18 14:50] sonatype-depshield[bot] opened #315 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20200625001655-4c5254603344"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20200625001655-4c5254603344](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20200625001655-4c5254603344) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:50] sonatype-depshield[bot] opened #316 "[DepShield] (CVSS 7.5) Vulnerability due to usage of github.com/gorilla:websocket:0.0.0-20170926233335-4201258b820c"
**Vulnerabilities**

DepShield reports that this application's usage of [github.com/gorilla:websocket:0.0.0-20170926233335-4201258b820c](https://ossindex.sonatype.org/component/pkg:golang/github.com/gorilla/websocket@0.0.0-20170926233335-4201258b820c) results in the following vulnerability(s):

- (CVSS **7.5**) [CWE-190: Integer Overflow or Wraparound](https://ossindex.sonatype.org/vuln/5f259e63-3

[2021-01-18 14:50] sonatype-depshield[bot] opened #317 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20190603091049-60506f45cf65"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20190603091049-60506f45cf65](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20190603091049-60506f45cf65) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:50] sonatype-depshield[bot] opened #318 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20190613194153-d28f0bde5980"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20190613194153-d28f0bde5980](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20190613194153-d28f0bde5980) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:50] sonatype-depshield[bot] opened #319 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20181023162649-9b4f9f5ad519"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20181023162649-9b4f9f5ad519](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20181023162649-9b4f9f5ad519) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:50] sonatype-depshield[bot] opened #320 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20180826012351-8a410e7b638d"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20180826012351-8a410e7b638d](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20180826012351-8a410e7b638d) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:50] sonatype-depshield[bot] opened #321 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20190620200207-3b0461eec859"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20190620200207-3b0461eec859](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20190620200207-3b0461eec859) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:50] sonatype-depshield[bot] opened #322 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20181220203305-927f97764cc3"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20181220203305-927f97764cc3](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20181220203305-927f97764cc3) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:50] sonatype-depshield[bot] opened #323 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20180724234803-3673e40ba225"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20180724234803-3673e40ba225](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20180724234803-3673e40ba225) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:50] sonatype-depshield[bot] opened #324 "[DepShield] (CVSS 5.9) Vulnerability due to usage of golang.org/x:crypto:0.0.0-20190308221718-c2843e01d9a2"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:crypto:0.0.0-20190308221718-c2843e01d9a2](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/crypto@0.0.0-20190308221718-c2843e01d9a2) results in the following vulnerability(s):

- (CVSS **5.9**) [[CVE-2019-11840]  Use of Insufficiently Random Values](https://ossindex.sonatype.org/vuln/5121f5ff-9831-

[2021-01-18 14:51] sonatype-depshield[bot] opened #325 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20190213061140-3a22650c66bd"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20190213061140-3a22650c66bd](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20190213061140-3a22650c66bd) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-01-18 14:51] sonatype-depshield[bot] opened #326 "[DepShield] (CVSS 7.5) Vulnerability due to usage of golang.org/x:net:0.0.0-20181114220301-adae6a3d119a"
**Vulnerabilities**

DepShield reports that this application's usage of [golang.org/x:net:0.0.0-20181114220301-adae6a3d119a](https://ossindex.sonatype.org/component/pkg:golang/golang.org/x/net@0.0.0-20181114220301-adae6a3d119a) results in the following vulnerability(s):

- (CVSS **7.5**) [[CVE-2018-17847]  Improper Input Validation](https://ossindex.sonatype.org/vuln/5e14fa1d-6146-4875-8465-dadf0c

[2021-02-17 06:30] #326 closed

[2021-02-17 06:30] #325 closed

[2021-02-17 06:31] #324 closed

[2021-02-17 06:31] #323 closed

[2021-02-17 06:31] #321 closed

[2021-02-17 06:31] #322 closed

[2021-02-17 06:31] #317 closed

[2021-02-17 06:31] #318 closed

[2021-02-17 06:31] #319 closed

[2021-02-17 06:31] #320 closed

[2021-02-17 06:32] #307 closed

[2021-02-17 06:32] #308 closed

[2021-02-17 06:32] #309 closed

[2021-02-17 06:32] #310 closed

[2021-02-17 06:32] #311 closed

[2021-02-17 06:32] #312 closed

[2021-02-17 06:32] #313 closed

[2021-02-17 06:32] #314 closed

[2021-02-17 06:32] #315 closed

[2021-02-17 06:32] #316 closed

[2021-03-09 14:41] aquibbaig commented on #296
When bench-routes is running on CLI -> `localhost:9000`, the dashboard is launched on the web at `9990`

[2021-03-09 14:41] #296 closed

[2021-03-09 14:44] Harkishen-Singh commented on #295
This should also be shown in the UI (like `returned in ...sec`)

[2021-03-09 14:44] #293 closed

[2021-03-09 14:57] #292 closed

[2021-03-09 19:43] rohitgeddam commented on #254
Hey, I would like to work on this.

[2021-03-09 19:56] Hanaffi commented on #232
@muskankhedia Can you assign this to me?

[2021-03-10 05:13] pkspyder007 commented on #289
Libraries like react-query could help us in achieving caching at the network level and auto validation of state data.

[2021-03-10 07:33] Harkishen-Singh commented on #289
We can implement this (after some discussions on pros-cons, as we definitely not want to make UI heavy) but it would be waiting on the next release of the dashboard.

[2021-03-10 07:34] Harkishen-Singh commented on #289
This is more of a duplicate on https://github.com/bench-routes/bench-routes/issues/285

[2021-03-10 07:50] Harkishen-Singh commented on #275
I think this is out of the scope of the project. Our aim is for monitoring, not response conformance.

[2021-03-10 07:50] #275 closed

[2021-03-10 07:56] Harkishen-Singh commented on #266
I think we aim for bulk import here. This will be done from the UI (I think so).

[2021-03-10 08:15] Harkishen-Singh commented on #277
Making a CLI tool is extensive and requires research on the things that are needed in the CLI. This is good to do, based on the project aims.

[2021-03-10 08:23] muskankhedia commented on #114
We aren't using the `http://localhost:9090/test` for testing our routes anymore. So, this should be good to close.

[2021-03-10 08:23] #114 closed

[2021-03-10 08:34] muskankhedia commented on #28
This is a required feature but of a low priority for now. In future, we might take a look at this again.

[2021-03-10 09:11] Harkishen-Singh commented on #257
Right now, the input section is in the sidebar. This was done was debugging purposes. We should remove it from the sidebar to a floating-button in the monitoring screen.

[2021-03-10 10:58] iamkryptonite opened #330 "Makefile:67 recipe for target 'run' failed"
**Describe the bug**
I was trying to set up the repository according to the steps mentioned in [README.md](https://github.com/bench-routes/bench-routes/blob/master/README.md) and[ INSTALL.md](https://github.com/bench-routes/bench-routes/blob/master/INSTALL.md). After following all the steps when I ran the command 'minGW32-make run' it was giving an error.

**To Reproduce**
Steps to reproduce the b

[2021-03-10 11:36] Harkishen-Singh commented on #330
Recommended OS for Linux and Mac, as our dependencies are dependent on those systems. However, that's for the metrics related to system. Bench-routes can work without it as well.

For now as a temporary fix, you can add this

[code]

To the start of this function

https://github.com/bench-routes/bench-routes/blob/f4356551859c59777f6b4653d364c41d4b6bfac8/src/main.go#L154

You can comment on this is

[2021-03-10 11:51] Harkishen-Singh commented on #254
Feel free to go ahead on this. The main thing here is that `log.Error()` should be replaced with a return of fmt.Errorf() which will be accepted by the calling function. The calling function will do the same again. For more idea on this, you can see how errors are returned in [this](https://github.com/timescale/promscale/blob/master/pkg/migration-tool/planner/planner.go) file and how the calling f

[2021-03-10 12:01] Harkishen-Singh opened #331 "UI crashes when opening routes in Monitoring screen"
**Describe the bug**
UI crashes when opening some routes for seeing paste monitoring performance in the monitoring screen.

**To Reproduce**
Steps to reproduce the behaviour:
1. When bench-routes is on, switch on the monitoring in monitoring screen.
2. After getting the results on monitoring screen, click on arrow.
3. Some routes (on the monitoring screen) will crash the UI
4. This is because ping

[2021-03-10 12:08] Harkishen-Singh commented on #242
This is the problem of the a graph. Right now, if you monitor for, say 5 mins and stop bench-routes, and again start after 30 mins, the graph is formed, connecting the first 5 mins with 30 mins, being continuous in nature. This is wrong.

Instead, the behaviour should be such that, the graph should be continuous only in the five minutes region. The graph should then not exist for next 30 mins, and

[2021-03-10 12:10] Harkishen-Singh commented on #241
I think this is beyond the scope of this project. Such comparison functionalities should be only with testing tools, or in some of our future tool for bench-routes, as an extension.

[2021-03-10 12:14] Harkishen-Singh commented on #239
@aquibbaig I think right now you aren't working on this. So I others are open to taking this up.

[2021-03-10 12:24] Harkishen-Singh commented on #232
I will also advise to make a small design in our mailing list (Google groups).

[2021-03-10 12:24] #190 closed

[2021-03-10 16:14] ruddi10 commented on #331
@Harkishen-Singh  kindly assign this issue to me

[2021-03-10 16:16] iamkryptonite commented on #330
I have added the above code but it still showing the same error. What exactly is "cached"? I tried to comment it out and run the program but it still didn't work.
![Capture](https://user-images.githubusercontent.com/43510609/110660843-fa33e480-81e9-11eb-93d2-c375fc0dd692.png)

[2021-03-10 17:41] dev117uday commented on #330
@iamkryptonite the package [here](https://pkg.go.dev/github.com/mackerelio/go-osstat@v0.1.0/memory?utm_source=gopls#Get), used in the source code has a function `.Get()` which returns the system `disk.Stats`. In the returned struct, the field `Cached` tells the how much data is in the disks cache.

[2021-03-10 18:08] Hanaffi commented on #232
@Harkishen-Singh Can you tell me where can I find that page in https://bench-routes.netlify.app/?
I dont know how can I start, Would be amazing if you tell me

[2021-03-11 08:14] Anuragtech02 commented on #257
Hey @Harkishen-Singh I'd like to give this a try! Could you please assign this to me ?

[2021-03-11 09:46] sachdeva-shrey opened #333 "Set default input values in Quick Input"
**Is your feature request related to a problem? Please describe.**
The user has to make some extra clicks every time they want to input by setting HTTP method and Request Type.

![Screenshot from 2021-03-11 15-11-24](https://user-images.githubusercontent.com/47667325/110767278-16806180-827c-11eb-8cc5-3826d551e863.png)

**Describe the solution you'd like**
Since the most common HTTP request type is

[2021-03-11 16:52] dev117uday opened #336 "Docker container fails to start"
**Describe the bug**
After building the image, when i tried to start the container error

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. `docker build -t bench-routes . `
2. `docker run -p 9990:9990 -it bench-routes`

**Screenshots**
Output when running `docker run -p 9990:9990 -it bench-routes`
![image](https://user-images.githubusercontent.com/49728410/110816899-c7552380-82b1-11eb

[2021-03-11 17:06] dev117uday commented on #336
Also `.dockerignore` is missing in the repo, starting the build unnecessarily copy the node_modules to it.

[2021-03-11 17:29] Harkishen-Singh commented on #336
Ah, alpine does not support journalctl. It has its own story of syslog. We can make journalctl disable if its not supported on a particular platform. That would fix this issue. Would you mind doing that?

To summarise the tasks require to update current stuff:
1. Update go version in docker to `1.16.1`
2. .dockerignore addition for the above purpose (possible make a different folder with dockerfil

[2021-03-11 18:55] dev117uday commented on #336
@Harkishen-Singh I would love to take up this issue

[2021-03-12 08:47] aquibbaig opened #337 "send appropriate messages from the API"
Rather than throwing an error on the console on errors or just a "success" alert on success , let's send an appropriate message from the API and display it as a toast alert on the dashboard.
Currently, we send the API interface in the form of a byte array.
An approach to this problem, IMHO will be to have an interface for `response_object` and populate the same before sending it. It can contain so

[2021-03-12 12:16] jugshaurya opened #338 "[GSOC] Revamping UI: styled-component proposal"
#### Describe
- I think to maintain the modularity of code and clean components code-wise. [styled-component](https://styled-components.com/) is a very good option to go with.
- Agree?, let me know, I have worked with styled-components on my [personal project](https://github.com/jugshaurya/showcase). It helped me in code management and modularity of components. I would like to work on it.  @muskan

[2021-03-12 12:21] dev117uday commented on #336
@Harkishen-Singh please review the pr #335

[2021-03-12 15:18] Rits1272 commented on #337
May I work on this issue?

[2021-03-12 18:41] Harkishen-Singh commented on #257
@Anuragtech02 please go ahead. Assigning wouldn't be the best thing for us but you can always voluntarily comment based on your interest and let others know.

[2021-03-13 02:06] Anuragtech02 commented on #257
Thanks @Harkishen-Singh ! I'll start working on this.

[2021-03-13 06:29] Harkishen-Singh commented on #337
@aquibbaig interfaces are used when you have multiple structs with some similarity in functions implemented in them. That's not our case. (in error, you have a custom interface since `error` itself is an interface)

But, I agree on giving alerts are never good. Also, errors shouldn't just sit in the console. (Those were the debug days). Success and errors should be via toast alert. (In case of err

[2021-03-13 06:34] Harkishen-Singh commented on #338
You can propose the details in your proposal, based on your understanding and how it helps the project. We will discuss that there. But a proposal cannot be accepted if you don't have experience with the GSoC project. Hence, contributions are the current need of the time.

[2021-03-13 07:24] #333 closed

[2021-03-13 07:45] muskankhedia opened #341 "The last row in the monitoring screen gets hidden"
**Describe the bug**
The details in the last row of the table in the monitoring screen gets hidden.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the monitoring screen in the UI
2. Scroll down to the bottom of the page

**Expected behaviour**
The details in the last row should be clearly visible.

**Screenshots**
<img width="1773" alt="Screenshot 2021-03-13 at 12 48 35 PM" src="http

[2021-03-13 08:39] ruddi10 commented on #341
I have fixed this issue kindly dont work on it pushing the commit but some error is there due to husky discussiong on it

[2021-03-13 09:36] muskankhedia opened #344 "Add the name of the route opened at the top"
**Describe the bug**
In the monitoring screen, a user can click on the forward arrow button to check on the details of a particular route. But due to the absence of any heading of which route has been clicked, it creates confusion and misleading for the user.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the Monitoring screen.
2. Click on the forward button on any route.

**Expected

[2021-03-13 10:12] haardikdharma10 commented on #344
Hi @muskankhedia, I would like to work on this task. Can you help me out roughly with the files involved?

[2021-03-13 10:26] Vishv07 commented on #344
Can I work upon this issue?

[2021-03-13 10:31] Vishv07 commented on #338
@Harkishen-Singh  Is it necessary to have previous experience of GSOC in order to accept the proposal.

[2021-03-13 11:39] Harkishen-Singh commented on #344
@Vishv07 please go ahead.

[2021-03-13 11:59] #279 closed

[2021-03-13 12:03] #341 closed

[2021-03-13 12:19] ruddi10 commented on #344
I have fixed it @Vishv07 kindly solve some other issue

[2021-03-13 12:29] #257 closed

[2021-03-13 12:38] muskankhedia commented on #344
@ruddi10 @Vishv07 I hope you both might have received a mail from the discussion group. Please go through it properly. I would like to summarise that again here.

Kindly make a comment on an issue before you start working on it and if someone else has made the comment, do respect that and work on that issue only if the comment made earlier has been a quite long time or he/she is inactive. You can

[2021-03-13 12:46] muskankhedia commented on #338
@Vishv07 No, it is not at all necessary. But I will advise you to contribute to other issues in the project as that will help you to understand the code in a better way and at the same time help us to know you better.

[2021-03-13 12:48] vinayaksh42 commented on #305
Hey, I would like to give this a try. This seems like a new feature addition. @aquibbaig @Harkishen-Singh What would be the appropriate place for providing the option to download this data? Do you think this is going to require the addition of a new page to the frontend or provide it somewhere in the existing UI?

I think we can use this https://golang.org/pkg/encoding/csv/ for converting the data

[2021-03-13 13:02] muskankhedia commented on #305
@vinayaksh42 Thank you for your interest in this issue. Currently, we are working on the enhancement of dashboard v1.1 and the issues with the tag `awaiting-dashboard-v2` are some of the ideas to be implemented in dashboard v2 which is in the GSoC Idea list. For now, I will encourage you to work on issues except with the tags `awaiting-dashboard-v2` and `not-ready`.

[2021-03-13 13:03] vinayaksh42 commented on #305
@muskankhedia okay, thanks for the information

[2021-03-13 13:09] Tushar3099 opened #346 "Responsiveness of Monitoring screen"
**Describe the bug**
In the monitoring screen, when the screen is resized, the columns are not resized according to the screen, due to which the columns are getting hidden.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Monitoring Screen.
2. Resize the Window(change the width).

**Expected behavior**
The contents of the Monitoring screen should resize according to the window size.

[2021-03-13 13:19] ruddi10 commented on #344
I apolozise for this @muskankhedia will make sure to follow this in future.

[2021-03-13 13:26] muskankhedia commented on #344
Thank you @ruddi10.

[2021-03-13 13:37] Harkishen-Singh commented on #346
If you want to take this up, you are most welcome.

[2021-03-13 13:43] ruddi10 commented on #258
@Harkishen-Singh would like to work on this issue but can you explain this feature a bit more?

[2021-03-13 14:05] #344 closed

[2021-03-13 14:28] muskankhedia commented on #258
Sure. Go ahead.

[2021-03-13 14:32] vinayaksh42 commented on #255
Hey, @maheshschand @Harkishen-Singh this seems like a bigger issue that will require work on both the server-side as well as the frontend for visualizing the data. I would like to explore this issue and try to incorporate at least one or more of the new system information.

[2021-03-13 14:41] suvidsahay commented on #255
@vinayaksh42 Even I was thinking to work on this issue. It would be great if we could divide the metrics into different subtasks and work on it individually. What do you think @Harkishen-Singh ??

[2021-03-13 14:44] vinayaksh42 commented on #255
@suvidsahay sure, It would be great to collaborate collectively on this issue

[2021-03-13 14:53] ruddi10 commented on #258
Can either of you clarify this issue a bit more it will be helpful @muskankhedia @Harkishen-Singh

[2021-03-13 15:13] Vishv07 commented on #338
Thanks got it @muskankhedia

[2021-03-13 16:11] codetheorem commented on #255
I want to work on this issue

[2021-03-13 16:19] Harkishen-Singh commented on #255
It is great to see collaboration on this. This is certainly not a single PR issue, as multiple information related to system information can be made (much more than what I mentioned).

Maybe you guys can divide among which more fields you wanna add on the Google groups topic but please make sure that it does not coincide.

@codetheorem I see 2 people are already on this. A third person might compl

[2021-03-13 16:26] codetheorem commented on #255
@Harkishen-Singh I am in contact with @vinayaksh42 about this issue and we have already started collaborating.

[2021-03-13 16:32] Harkishen-Singh commented on #255
If people do not find issues in collaboration and sync, then I am fine with it.

[2021-03-13 17:48] Harkishen-Singh commented on #258
If you see the current graphs being formed, they are being formed for a time-range of 1 hour only.

https://github.com/bench-routes/bench-routes/blob/88675e90866f0f83cc11d31417b37d99226547a8/dashboard/v1.1/src/pages/Dashboard/SystemMetrics.tsx#L125

This should be made changeable. This will be done via an interactive UI so that the user can select a start date and time and an end date and time of

[2021-03-13 17:58] ruddi10 commented on #258
Okk @Harkishen-Singh will give it a try btw #332 have implemented a shared chart component so will you be merging it I think that can act as a wrapper so it will be better if we incorporate that in that shared component. What do you think?

[2021-03-13 19:19] geforce6t commented on #239
@Harkishen-Singh i would like to work on this issue.

[2021-03-13 19:20] Harkishen-Singh commented on #239
Sure @geforce6t. Please go ahead.

[2021-03-13 19:40] vinayaksh42 commented on #255
@Harkishen-Singh I am working on the per-core performance metrics, I went through the following https://github.com/shirou/gopsutil/blob/v3.21.2/cpu/cpu.go#L137 to explore more about how to extract per core performance and was able to do it using the following function inside `system.go`
[code]
In my case it returned a string consisting of 4 Numbers cause my cpu is of 4-core

Further i have added t

[2021-03-14 04:19] Harkishen-Singh commented on #255
If you are unable to verify the data, try decreasing flushInterval to 5 secs. By default it's 300 secs to protect from high I/Os.

Can you add clock rate information along with that?

[2021-03-14 04:38] suvidsahay commented on #255
To find out network speed I was thinking about using [this](https://github.com/showwin/speedtest-go) library to test upload and download speed. Will that be good @Harkishen-Singh or did you have something else in mind?

[2021-03-14 04:53] Harkishen-Singh commented on #255
I wouldn't take that approach on the first go. Speedtest is heavy and data captured from that is the highest speed value. But the aim here is to get a current speed value, not the highest possible one. So speedtest is certainly not the answer.

[2021-03-14 05:15] Pratik1234agarwal commented on #145
Hey I would like to work on this issue.
Where can I get started?

[2021-03-14 05:17] Pratik1234agarwal commented on #346
I would like to take this up. If it's still awailable

[2021-03-14 06:41] suvidsahay commented on #255
If not that I could probably use the gopacket library as described in [this blog](https://www.programmersought.com/article/7966245277/) to test it.

[2021-03-14 06:54] vinayaksh42 commented on #255
I am unable to find a way to find the clock rate using shirou/gopsutil

[2021-03-14 07:33] Harkishen-Singh commented on #255
You don't have to stick to existing libraries. This will require a bit research for correct set of tools and this issue a priority.

[2021-03-14 09:07] sachdeva-shrey opened #348 "Bug: Ping and Jitter routes not working as expected"
**Describe the bug**
The `/ping` and `/jitter` routes do not display the charts upon selecting the routes from the input.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `/ping` or `/jitter`. You can navigate from Testing Tools in the sidebar menu.
2. Select a route from the select input.
3. No charts/information is displayed.
4. See error: `index.js:1451 SyntaxError: Unexpected token

[2021-03-14 09:44] geforce6t commented on #348
I think this might be due to incorrect url requested for the resonse.
![Screenshot from 2021-03-13 19-44-07](https://user-images.githubusercontent.com/63119158/111063746-76724480-84d6-11eb-8e03-f72a3295f59a.png)

in the file JitterModule.tsx a request is made like this:
const response = await fetch(
        `${HOST_IP}/query?timeSeriesPath=storage/jitter/chunk_jitter_${res}`
      );

here `res` i

[2021-03-14 09:55] iamkryptonite opened #349 "Bug: White dashed outline in Tabs component"
**Describe the bug**
White dashed border appears on clicking the tabs in Dashboard

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Dashboard
2. Click on Disk(or any other tab)
3. See error

**Expected behaviour**
The tabs should not have any white outline.

**Screenshots**
![Screenshot from 2021-03-14 11-42-32](https://user-images.githubusercontent.com/43510609/111064309-47110700-84d9

[2021-03-14 13:08] ruddi10 commented on #258
@muskankhedia @Harkishen-Singh ?

[2021-03-14 14:23] muskankhedia commented on #258
@ruddi10 You can start working on this issue independently as merging PR #332 might take some time.

[2021-03-14 14:45] Tushar3099 commented on #337
Is @Rits1272 working on the issue? I will be interested in working on this if available.
@aquibbaig @Harkishen-Singh
As I went through the code, I observed the response is sent as a struct of { Status, Data } which contains the API's status and data. This is then converted to bits array and sent back. The errors at every position are handled with panic.
Instead of that, IMHO, I think we can add a

[2021-03-14 16:00] #331 closed

[2021-03-14 16:05] ruddi10 commented on #258
Ok

[2021-03-14 16:24] #346 closed

[2021-03-14 16:28] Harkishen-Singh commented on #258
@ruddi10 #332 just got merged. If this could be of any help.

[2021-03-14 16:31] Harkishen-Singh commented on #145
@Pratik1234agarwal we use shell to run ping like commands. If a particular command is not supported, mark that as unusable so that users don't get blocked for that functionality (due to errors).

[2021-03-14 16:36] khushibalodi opened #352 "Minor Fixes Required in Sidebar"
**Describe the bug**
1) The expandLess and ExpandMore option of tests should change appropriately.
2) Adding tooltip to icons in the sidebar to display their function.

**To Reproduce**
Steps to reproduce the behavior:
1) test item icon in the sidebar does not change on opening the menu.
2) Minimize sidebar, no labels appear to convey the use of each option.

**Expected behaviour**
A clear and con

[2021-03-14 16:37] khushibalodi commented on #352
I would like to work on this

[2021-03-14 16:39] #349 closed

[2021-03-14 17:22] iamkryptonite commented on #352
How were you able to run this on windows?Are you using wsl?

[2021-03-14 17:24] khushibalodi commented on #352
yes

[2021-03-14 18:04] Rits1272 commented on #337
Yeah @Tushar3099, I am currently working on this issue!

[2021-03-14 18:06] jerrybuks commented on #285
@aquibbaig  maybe we can rely on the  [RTK query library](https://rtk-query-docs.netlify.app/) from redux (released after redux toolkit), it integrates well with  Redux ecosystem and DevTools and handles caching and data-revalidation well.

[2021-03-14 19:58] rishav4101 opened #356 "Tooltip text is not visible in dark mode."
**Describe the bug**
Tooltip text is not visible in dark mode due to the text being light.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Dashboard'
2. Switch to 'Dark mode'
3. Hover on graphs so as 'tooltip' appears
4. See error

**Expected behaviour**
Tooltip should also be in dark mode so that it is readable.

**Screenshots**
![eajjg](https://user-images.githubusercontent.com/551

[2021-03-14 19:59] rishav4101 commented on #356
I would like to take up this issue.

[2021-03-15 01:32] Harkishen-Singh commented on #356
You are welcome to take that up.

[2021-03-15 03:04] Harkishen-Singh commented on #352
@khushibalodi please go ahead.

[2021-03-15 06:14] Pratik1234agarwal commented on #145
Okay @Harkishen-Singh  I am working on it. I will update you soon.

[2021-03-15 08:52] Tushar3099 commented on #295
I want to work on this issue @Harkishen-Singh.

[2021-03-15 08:54] sachdeva-shrey opened #358 "Feat: Improve Input Label UI"
**Is your feature request related to a problem? Please describe.**
The current implementation of the `Add Label` feature in `QuickInput` can be improved for a few reasons:
1. Hard to distinguish `Add a Label` text as button at the first glance.
2. Overflow scrollbar at the bottom.
3. Spacing issues.

**Describe the solution you'd like**
Fix the above mentioned issues.

**Screenshot**
![Screenshot

[2021-03-15 09:23] ruddi10 opened #361 "Monitoring responses for a route not working properly with endTimestamp parameter"
**Describe the bug**
Even if the route is having ping,jitter and  response time when we try to fetch for there graph then the response from the api call has their values as 0 creating inconsistency.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Monitoring
2. Click on any route details for the one having ping,jitter and Response values.
3. You will see that No values alert.

**Expect

[2021-03-15 09:24] ruddi10 commented on #361
@Harkishen-Singh can you please have a look at this I think there is a problem with the api but not sure what do you think ??

[2021-03-15 11:55] Harkishen-Singh commented on #295
Please go ahead @Tushar3099

[2021-03-15 14:22] kaiwalyakoparkar opened #363 "Guidance for GSOC 2021"
Hey,
I am a new contributor and I want to work on **" Revamping the UI "** as it is in the GSOC 2021 idealist and also it interests me a lot. Can I get some guidance so that I can contribute to this project even after the GSOC duration?

[2021-03-15 14:47] kaiwalyakoparkar commented on #358
Hey, I would like to work on this issue. Could you please guide me with this issue

[2021-03-15 16:27] ruddi10 commented on #258
Sure though I have implemented a seperate solution will be pushing it after few changes

[2021-03-15 18:46] geforce6t commented on #348
I'll fix this if no-one is doing

[2021-03-15 19:01] codetheorem opened #365 "Add Label option in Quick Input"
**Is your feature request related to a problem? Please describe.**
When we create a label we have to again select that label and apply that.

**Describe the solution you'd like**
As soon as we create a label it should apply.

[2021-03-15 22:14] Tushar3099 commented on #348
@muskankhedia  I have confusion about the implementation of @geforce6t as what he is doing is fetching all the time series data from the backend, then finding the one that matches the URL, and send its specific jitter hash.
Won't it be very time-consuming with lots of time-series data?
I am not sure, but since we require the hash to find the route-time-series path, we can make the hash for the rou

[2021-03-15 23:55] Tushar3099 commented on #295
IMHO I think inside `querier.go`, we have to modify the `exec` function and `Query` struct. We have to calculate the time spent on query by :
`start:= time.Now()`
`// Querying the query`
`execTime:= time.Since(start)`
Then add the value of execTime to Query(which will have an extra field of execTime).
Guide me on what will be the right approach? @Harkishen-Singh

[2021-03-16 04:53] Rits1272 commented on #254
May I work on this issue @Harkishen-Singh ?

[2021-03-16 05:49] geforce6t commented on #348
I don't think this can be done from the frontend, all we can do is the api call, so **if** this fetching all the time series is time-consuming what can be done is an endpoint to return the hash against the route which can be send dynamically from the url , but this can be a problem as the route url contains "/" which can cause problem as it will separate the different parts of the route, maybe thi

[2021-03-16 05:56] Harkishen-Singh commented on #254
@rohitgeddam are you still working on this? Could you give some updates here.

[2021-03-16 05:57] Harkishen-Singh commented on #295
@Tushar3099 that is indeed correct.

[2021-03-16 06:58] ruddi10 opened #367 "Theme is not persistent"
**Feature**
Currently on refreshing the dark or light mode preference resets rather we need to make it persistent

[2021-03-16 07:22] Tushar3099 commented on #348
@geforce6t Obviously these changes are to be done in the backend as there are already functions `URLHash` for making hash for a URL (any legit URL) but as I said it would require `body,header,params,method` fields also which is not provided by the frontend.Hence that causes a problem.

[2021-03-16 10:23] Tushar3099 commented on #295
@Harkishen-Singh As I saw code, in `exec` function the `queryTime` is already implemented. The QueryResponse has a field of `TimeInvolved` which calculates the query execution time. Also in the frontend, the queryTime is sent when we hit the `/query-matrix` endpoint.
Where do we want to show this queryTime exactly?

[2021-03-16 11:14] Tushar3099 commented on #232
I want to work on this issue, if available. @Harkishen-Singh

[2021-03-16 12:05] Harkishen-Singh commented on #232
@Tushar3099 I think @Hanaffi is already on this.

@Hanaffi there isn't any page in the website. That I meant was to create a new page in benchroutes UI and that page will contain a table for showing samples (timestamp, type, value) in that table as described above.

[2021-03-16 12:08] Harkishen-Singh commented on #295
I think the ideal way would be to show in top right corner as queried in .... seconds. Above that, we should also show a time for fetching data and this time will be calculated (from start of request till receiving the data) in UI.

In short, the time for fetch = time of querying + network time.

[2021-03-16 12:30] Rits1272 opened #369 "Radio Buttons in Quick Input page freezes"
**Describe the bug**
In the `Quick Input`, radio buttons of `Header` and `Params` tends to freeze after hitting the `Test and Save` button

**To Reproduce**
1. Go to the `Quick Input` page
2. Enter any valid URL
3. Click `Test and Save`
4. Now check `Header` and `Params` radio buttons
5. Again click `Test and Save`
6. Now try to uncheck the `Header` and `Params` radio button

**Expected behavior**

[2021-03-16 12:43] Harkishen-Singh commented on #363
Please avoid making issues for these topics. We have mailing lists and community chat where questions like these can be asked.

I will have to close this issue as this is not the best place for asking.

[2021-03-16 12:43] #363 closed

[2021-03-16 14:44] muskankhedia commented on #361
@ruddi10 The API calls are fine here, this is because no data is stored in the files for the respective route. This mainly occurs when we don't receive the desired data from the route or there is a faulty route. Also, this needs to be handled in a better way in the backend.

[2021-03-16 14:45] ruddi10 commented on #361
Yeah after opening this issue I saw that for some cases it working fine but for some its failing

[2021-03-16 14:47] muskankhedia commented on #367
@ruddi10 Thank you for the issue. One small feedback whenever you create an issue add a screenshot or gif or video. This will help everyone to understand the issue in a better way at the same time will be a good reference in the long run.

[2021-03-16 14:49] ruddi10 commented on #367
@muskankhedia will make sure to that

[2021-03-16 14:52] rishav4101 opened #370 "Add: Pagination in monitoring table."
**Is your feature request related to a problem? Please describe.**
When monitoring routes increases in large numbers it could become difficult to scroll through and look for a route.

**Describe the solution you'd like**
Implementing pagination view in Matrix table in monitoring page would be a better user experience. This can be implemented using the Pagination component of material-ui.

**Screen

[2021-03-16 14:53] rishav4101 commented on #370
I would like to work on this feature.

[2021-03-16 15:01] #367 closed

[2021-03-16 15:20] muskankhedia commented on #348
@Tushar3099 you are correct. Solving this issue requires the implementation of a new API in the backend, also as you said all the required data aren't from the frontend, all the required APIs needs to be implemented in the backend to solve it.

[2021-03-16 15:44] sachdeva-shrey commented on #358
@kaiwalyakoparkar I'm sorry, I've already made a PR for this issue here https://github.com/bench-routes/bench-routes/pull/359.

[2021-03-16 15:51] kaiwalyakoparkar commented on #358
Ok! could you suggest me an issue?

[2021-03-16 15:57] sachdeva-shrey commented on #232
Hey @muskankhedia @Harkishen-Singh, if I may put my two cents on this, I believe majority of the users would only be interested in viewing the analytics with charts but still, tables are definitely good to have. For that purpose, we do already have an option to export the charts to CSV, maybe we could make that option more prominent? I think putting tables in the UI for a large data set might be t

[2021-03-16 16:02] Harkishen-Singh commented on #232
@sachdeva-shrey thank you for sharing your thoughts. You are right, graphs are beautiful. But granularity is more important in knowing why a particular system crashed, or for analysis than doing that from graph.

In a table, you get that granularity. You can peek a sample value very closely and know the exact condition of system. But in graphs, you are seeing the whole scenario in a very high leve

[2021-03-16 16:06] geforce6t commented on #348
@muskankhedia sorry for the confusion, can you please explain what that new api will do ? will it return the hash of the route we put as a parameter in this new api call so that later on we can put that hash here : `${HOST_IP}/query?timeSeriesPath=storage/jitter/chunk_jitter_${hash}` and get the result?

[2021-03-16 16:07] sachdeva-shrey commented on #232
@Harkishen-Singh That makes sense, thanks for making it clear!

[2021-03-16 16:20] muskankhedia commented on #348
@geforce6t we could have done that but the issue is, for now, the data we have in the frontend is `URL` but the params required to create the `URLHash` are `body,header,params,method, URL` so now things needs to be changed from the base level as either we now require all the data beforehand in the frontend or again go through the loop to find the URL details from the `local-config.yaml` file using

[2021-03-16 16:28] Tushar3099 commented on #348
@geforce6t
IMHO I think that the same API `/query` can be modified so that it can find the hash of the given route in the backend and fetch the file accordingly and do the rest as it is.
In that case no change in frontend would be required.
But my doubt stuck in the same place, finding hash requires more data than just the URL.
@muskankhedia Can you please explain the utility of this Testing windo

[2021-03-16 17:25] geforce6t commented on #348
@Tushar3099 can you please explain one thing..  So in the `main.go` a goroutine is spun in the beginning of the program which is responsible for adding routes (added to the local config file)to the `matrix` (map) , then through a loop every new entry gets added to the map with the `hash`(generated) as the key and the `structure pointer` (with detail about the route) as the value, now since this `m

[2021-03-16 17:33] sachdeva-shrey commented on #369
Hey @Rits1272, are you working on this issue?

[2021-03-16 17:52] Rits1272 commented on #369
You may go ahead with this issue @sachdeva-shrey :)

[2021-03-16 17:58] Tushar3099 commented on #348
@geforce6t Finding hash through looping over all routes is not the solution. That's the same thing as fetching all the routes in frontend and matching the one with same URL.
I was talking about generating the URL for the route for which a function `URLHash` is already there.But the function requires other fields also like `header,params,method` .

[2021-03-16 19:02] Pratik1234agarwal commented on #145
Is there any docs there to understand the functionality of how to use each feature.

[2021-03-16 19:17] sachdeva-shrey opened #372 "Bug: Params, Header & Body values in Input not passed"
**Describe the bug**
The values of `Params`, `Header` and `Body` in `/quick-input` are not passed with the `POST` request. Only a certain amount of key-values are updated.
P.S. This behaviour is inconsistent and might not be reproduced in the first attempt, in that case, trying doing the process faster. Could possibly be because of a race-condition.

**To Reproduce**
Steps to reproduce the behavio

[2021-03-16 19:17] sachdeva-shrey opened #373 "Bug: Reset Button removes default values"
**Describe the bug**
Clicking on the Reset button, sets the values of `URL`, `HTTP Method` and `Request Type` to null.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `/quick-input`
2. Click on Reset button
3. All default values are removed

**Expected behaviour**
The ideal way to handle this would be to set the values back to default when clicked on Reset. The Reset button should onl

[2021-03-16 19:18] sachdeva-shrey commented on #372
I would like to work on this issue.

[2021-03-16 19:18] sachdeva-shrey commented on #373
I would like to work on this issue.

[2021-03-16 20:29] Hanaffi commented on #232
@Harkishen-Singh  Hello,
I have finished the first part, but I dont know how to retrieve data/query them.
If you can help, that would be amazing!
![go](https://user-images.githubusercontent.com/35642947/111375476-f3ecaf00-86a6-11eb-92d0-0a8b89d4faff.png)

![go2](https://user-images.githubusercontent.com/35642947/111375522-0535bb80-86a7-11eb-8abd-d8044250e04b.png)

[2021-03-16 22:34] ramyak-mehra commented on #165
@Harkishen-Singh I would like to give this a try. I am still new to go, could you please point me in a direction from where I can get started with this issue.

[2021-03-17 05:15] ruddi10 commented on #365
@codetheorem are you woring on it?

[2021-03-17 05:16] codetheorem commented on #365
Yes @ruddi10

[2021-03-17 05:26] Harkishen-Singh commented on #165
@ramyak-mehra sorry for the confusion but tis seems like a duplicate of https://github.com/bench-routes/bench-routes/issues/295.

[2021-03-17 06:26] iamkryptonite opened #375 "feat: Improve Dark mode toggle button"
**Is your feature request related to a problem? Please describe.**
The current switch button for toggling the theme is not very good looking.As a new user, just by
looking at it we cannot determine its function until we hover over the button and see the tooltip.

**Describe the solution you'd like**
Instead of just the plain switch button we can implement something like this.
![Redux_A_predictable

[2021-03-17 06:27] iamkryptonite commented on #375
@muskankhedia if this is approved I would like to work on this.

[2021-03-17 06:29] muskankhedia commented on #375
@iamkryptonite Sure, go ahead.

[2021-03-17 08:02] iamkryptonite commented on #375
Can we use libraries other than material-ui?

[2021-03-17 09:26] Rits1272 commented on #242
May I work on this issue @Harkishen-Singh ?

[2021-03-17 11:08] Harkishen-Singh commented on #242
Definitely @Rits1272. That would be awesome.

[2021-03-17 13:49] Tushar3099 commented on #106
@Harkishen-Singh I want to work on this issue. Also a brief explaination for possible approach for this issue will be very helpfull.

[2021-03-17 15:35] muskankhedia commented on #348
@Tushar3099 You can either make modifications to the existing API or create a new one. The tasks section seems similar to the Monitoring section but the monitoring section makes the work a lot difficult when the user wants to check only Ping or Jitter values of multiple routes which is easily handled in the tests section. Tests section ease the navigation between routes when the user wants to chec

[2021-03-17 16:23] shreyaskhadapkar opened #377 "make Error"
`make update`

[2021-03-17 16:41] Tushar3099 commented on #377
@shreyaskhadapkar Can you please explain the error?
How to produce the error, and what is the expected outcome.
`make update` command is working well in my OS(Linux Ubuntu 20.04)

[2021-03-17 17:18] shreyaskhadapkar commented on #377
@Tushar3099 I followed steps as instructed from the documention. I successfully installed Golang and  cloned the repo . While running the command `make run` I encountered this error. Currently I'm on windows 10.

I'm new to open-source so any kind of help is appreciated.
Thank You in advance!!

[2021-03-17 17:25] shreyaskhadapkar commented on #377
Yes, I'm using windows system. I'll try installing WSL and let you know. Thank You!!

[2021-03-17 17:26] shreyaskhadapkar commented on #377
@Harkishen-Singh Yes, I'm using windows system. I'll try installing WSL and let you know. Thank You!!

[2021-03-17 17:36] Harkishen-Singh commented on #375
@iamkryptonite yes you can, but they should match the overall theme and at the same time, not be too heavy.

[2021-03-17 17:39] Harkishen-Singh commented on #232
@Hanaffi that looks awesome. If you can take a look at how we query data when we click on arrow button in monitoring screen, that should be very good.

Note: users will select from drop-down, a list of time-series if you are wondering about the input.

[2021-03-17 17:40] Harkishen-Singh commented on #372
This is interesting. @sachdeva-shrey please feel free to solve.

[2021-03-17 17:42] Harkishen-Singh commented on #145
There aren't any at the moment. We will update them sometime later. You can get some ideas related to this if you search in the code for exec.Command().

[2021-03-17 17:44] Harkishen-Singh commented on #370
@rishav4101 please go ahead. I thought we had that but its very strange that we were missing it. Anyways, thank you for reporting. Please do note that we only fetch those time-series from API that are require in the current page only, and not all time-series in the matrix.

[2021-03-17 17:47] rishav4101 commented on #370
Yeah sure. Thank you so much.

[2021-03-17 18:05] Tushar3099 commented on #299
I want to work on this issue @aquibbaig . Brief explaination of the possible approach for this issue will be helpfull. @Harkishen-Singh

[2021-03-17 18:13] shreyaskhadapkar commented on #377
@Harkishen-Singh  I tried enabling WSL in my windows system. The same error occurs again. Any help? or am I doing it wrong?

[2021-03-17 18:17] Harkishen-Singh opened #378 "Querier should return data from in-memory chains that are not flushed"
Right now, the querier queries only the time-series files. This means that querying is possible only on the data that has been flushed and not the one in-memory. This creates a big issue. If you have `flushDuration` of 5 mins (which is the current value in default), users will have to wait for 5 mins before they get any data in the graphs. This is not good. The querier should be able to get the sa

[2021-03-17 18:18] Harkishen-Singh commented on #377
Ah, we as such never supported windows. Could you run it in some Linux distro?

[2021-03-17 18:30] Harkishen-Singh commented on #348
@muskankhedia I was in an initial impression that doing a two-times communication with the API is not a good thing. But it turns out that UI needs to know some way which all paths are available for querying. This will require the first request and I don't think we can avoid it.

So, as far as we fetch the updated list of all time-series (from `/get-route-time-series` endpoint), and then fill them

[2021-03-17 18:31] Tushar3099 commented on #378
I was also facing this issue and would like to work on this issue. @Harkishen-Singh

[2021-03-17 18:36] Harkishen-Singh commented on #299
@Tushar3099 if you see the `types.go`, there are several structs that use repeated fields. The main aim here is to make them smaller and have a base struct which will be implemented in other structs and hence reducing redundancy.

Example: Ping and PingResp both have min, mean, max, mdev. So, PingResp can be rewritten as:

[code]

But do make sure that base structs (which are being used to extend)

[2021-03-17 18:37] Tushar3099 commented on #348
@Harkishen-Singh I was also suggesting the same solution.Shall I make a PR for that?

[2021-03-17 18:37] Harkishen-Singh commented on #378
@Tushar3099 this might be a bit tricky. Feel free to take up and ask if you need any understanding.

[2021-03-17 18:39] Harkishen-Singh commented on #348
I think @geforce6t is already working on this. I will let him for this issue. I haven't gone through the PR, but there can be better possibilities than what I proposed.

[2021-03-17 18:41] Tushar3099 commented on #378
Thanks @Harkishen-Singh , will catch up for help when needed.

[2021-03-17 18:43] Tushar3099 commented on #348
Thanks for the reply @Harkishen-Singh will work on other issues then.

[2021-03-17 19:32] shreyaskhadapkar commented on #377
I have successfully installed the project locally!! Thanks for the help!!
Is docker thing needed to be done?? or I can start contributing directly based on local setup?

[2021-03-17 21:50] Tushar3099 commented on #299
@Harkishen-Singh Thanks for the detailed explanation. I will try my best to refactor all the structs.

[2021-03-18 06:15] Harkishen-Singh commented on #377
You can always do locally. Feel free to close the issue if everything is fine.

[2021-03-18 11:06] shreyaskhadapkar commented on #377
Yes. Thank You!!

[2021-03-18 11:06] #377 closed

[2021-03-18 11:18] ruddi10 opened #383 "The Journal Graph appears instead of the dialog box stating the metrics are loading"
#### Describe
Although not easily visible if you decrease the data transfer speed using dev tools  it will be observed that the blank Journal graph apppears unlike the System metrics graph where a dialog box is displayed instead.

![Screenshot from 2021-03-17 15-48-09](https://user-images.githubusercontent.com/56596436/111617861-adfc2c00-8809-11eb-9b76-5c1cf897b3b5.png)

[2021-03-18 11:19] ruddi10 commented on #383
I am working on #364 wherein I have to show this dialogue box so will fix this issue in that pr itself.

[2021-03-18 11:34] rishav4101 opened #384 "Add: Search bar in monitoring table."
**Requested feature**
Adding a search bar in the monitoring table could make the work of searching a route much easier for users.

**Describe the solution you'd like**
We could add a search bar in the monitoring table using the npm package 'material-ui-search-bar', which is very efficient and easy to use.

**Screenshot of proposed feature**
![searchbar](https://user-images.githubusercontent.com/55

[2021-03-18 11:35] rishav4101 commented on #384
@Harkishen-Singh I would like to work on this feature.

[2021-03-18 12:30] Anuragtech02 opened #385 "Create dockerignore file"
**Describe the bug**
Dockerfile is huge right now (380MB), we can add a `dockerignore` which will ignore files such as `node_modules` which in this case is the reason for such a large size.

**Expected behaviour**
Docker build context should be significantly less in size.

**Screenshots**
### Before Adding `.dockerignore` size was `389.4MB`
![SS_BEFORE](https://user-images.githubusercontent.com/55

[2021-03-18 12:31] Anuragtech02 commented on #385
I've created the dockerfile and will push it once the issue is approved.

[2021-03-18 15:57] rishav4101 opened #386 "Graphs/Charts in dark mode."
**Is your feature request related to a problem? Please describe.**
Graphs/charts still remain in light mode when the webpage is changed to dark mode.

**Describe the solution you'd like**
I would like to change the graphs/charts to dark mode too, with making use of 'dark-mode' variable stored in localstorage.

**Describe alternatives you've considered**
If the use of localstorage is not preferred

[2021-03-18 15:58] rishav4101 commented on #386
@Harkishen-Singh @muskankhedia I would like to work on this feature.

[2021-03-18 17:53] rohitgeddam commented on #254
@Rits1272 you can go ahead.

[2021-03-18 18:08] Tushar3099 commented on #299
@Harkishen-Singh, I have solved the simpler redundancies like in `Ping` and `PingResp`, `FloodPing` and `FloodPingResp`, `Response` and `ResponseResp`.
But as @aquibbaig said the redundancy of routes URI in BRMatrix is nested, BRMatrix has a structure as :
[code]
Here `FullURL` has the route's URI, also the Route struct has the `URL` field :
[code]
and Chain struct also has a `Route` field
[code]

[2021-03-18 18:09] ruddi10 commented on #386
@rishav4101 I have implemented dark-mode variable in one of the pr and its merged so yes I think you can use that

[2021-03-18 18:12] ruddi10 commented on #386
But I feel that here one cant see the contrast and different shades that are necessary to interpret the graphs so I think you can also think of some better contrast

[2021-03-18 18:37] sachdeva-shrey opened #387 "Bug: Deleting Route from Config Screen breaks UI"
**Describe the bug**
Deleting a route from the config screen (`/configurations`) deletes the selected route but also breaks the UI.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to `/configurations`
 2. Delete a route
 3. The UI breaks
 4. See error: `Unhandled Rejection (TypeError): setConfigRoutes is not a function`

 **Expected behaviour**
 The UI should not break and a confirmation

[2021-03-18 18:37] sachdeva-shrey commented on #387
I would like to work on this issue.

[2021-03-18 18:48] rishav4101 commented on #386
@ruddi10 Yes I have used localstorage for now. Passing props is just an alternative.
About contrast, I think that can be adjusted. I have attached another Screenshot where there are different colors in the graph and it's looking fine in my opinion, please have another look at it. The slight modifications if needed can be done by modifying the colors of the graph.

[2021-03-19 03:29] muskankhedia commented on #386
@rishav4101 Sure. Please go ahead.

[2021-03-19 03:46] #370 closed

[2021-03-19 03:52] muskankhedia commented on #365
@codetheorem Can you please add some relevant screenshot or GIF corresponding to the error?

[2021-03-19 04:02] #373 closed

[2021-03-19 04:52] muskankhedia commented on #387
@sachdeva-shrey Sure, Go ahead.

[2021-03-19 04:53] muskankhedia commented on #385
@Anuragtech02 Yes you can go ahead with this.

[2021-03-19 04:53] muskankhedia commented on #384
@rishav4101 Go ahead.

[2021-03-19 05:28] aquibbaig commented on #299
@Tushar3099 Not sure if it is the right approach but if it trims down redundancies by any means, it will surely be helpful to the project. If entirely changing the type of the structs helps, please go ahead.

[2021-03-19 07:30] sachdeva-shrey commented on #372
@Harkishen-Singh It turns out that this happens only when the user inputs duplicate object keys, I somehow missed to pay attention to this before. What should be the ideal way to handle it in this case? Since it is completely valid to have headers and params with the same key value.

For example,
`https://google.com?abc=abc&abc=abc&abc=abc` is completely valid - same `params` keys.

`Accept: appli

[2021-03-19 08:37] aquibbaig opened #390 "remove that ugly border from quick-input icon"
Appears when we click on the quick-input button.

![Image](https://user-images.githubusercontent.com/26324376/111752886-9bffa500-886c-11eb-895b-e2ac4af31161.png)

*P.S. See bottom-right*

[2021-03-19 09:18] ruddi10 commented on #390
Will work on it

[2021-03-19 13:50] iamkryptonite opened #393 "Bug: empty white box in quick input page in dark mode"
**Describe the bug**
In dark mode if we go to quick input and click on body(or header/params) we see a white empty box.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'quick input page' ans turn on dark mode
2. Click on 'body'
3. See error

**Expected behaviour**
The color of the box should the match the color of the rest of the page in both dark/light mode.

**Screenshots**
If appli

[2021-03-19 13:50] iamkryptonite commented on #393
I would like to work on this if approved.

[2021-03-19 14:46] Tushar3099 commented on #393
Actually, that's not weird @iamkryptonite, the problem is that in dark mode, the text color is changed to white and the JSONfied response box doesn't change its background which results in an empty white box.
![Screenshot from 2021-03-19 20-11-16](https://user-images.githubusercontent.com/51849085/111798018-ad3dc580-88ef-11eb-8ec0-097e110704bc.png)
As you can see that when I selected the text it's

[2021-03-19 15:00] Tushar3099 commented on #299
@aquibbaig @Harkishen-Singh, as I see, the structs Chain, Route, BRMatrix are widely used all over the code, and changing those data structs will then affect all the code and logic, and this will take some time. Shall I make a PR up to I have refactored other structs till then?

[2021-03-19 15:22] Tushar3099 opened #394 "Refactoring of fetching routes"
### Describe
All routes fetched in the frontend are fetched from respective components, but if we want to fetch a particular route from many components, we have to write all the fetching code again in other components. This causes redundancy. Also, if we want to look at all the routes fetched from the frontend, we have to go to each respective component.

### Expected
- We can make a service folde

[2021-03-19 15:23] Tushar3099 commented on #394
@Harkishen-Singh @muskankhedia I would like to work on this issue if approved.

[2021-03-19 15:41] sachdeva-shrey commented on #394
@Tushar3099 This refactor would be great. However, isn't this part of the GSoC project idea "_Revamping the UI_"?

[2021-03-19 15:50] Tushar3099 commented on #394
@sachdeva-shrey Thanks for you views. IMHO I guess Revamping the UI  will have a greater scope of change , from design to implementations. I am here just proposing to refactor the already present code of fetching routes which is more of a clean up than rewamping.
Also I would only be working on this issue if maintainers approve.

[2021-03-19 15:54] sachdeva-shrey commented on #394
Totally understand your point. Just thought this would involve completing part of the project, considering that this would be a huge refactor.

[2021-03-19 16:07] ptechofficial commented on #390
hey, i've worked on a similar issue before. Can i work on this? I'll send a PR by tonight.

[2021-03-19 16:21] ruddi10 commented on #390
I am working on it kindly look for some other issue @ptechofficial

[2021-03-19 16:22] ruddi10 commented on #394
@sachdeva-shrey  I also believe that refactoring is a part of GSOC project @Tushar3099 I think you can mention this in your proposal

[2021-03-19 16:43] iamkryptonite commented on #393
Correct!

[2021-03-19 16:47] ptechofficial commented on #390
yeah okay.

[2021-03-19 17:00] Tushar3099 commented on #394
@ruddi10 @sachdeva-shrey I respect your opinion, but please let the maintainer have their view on this before any final decision. As I have already told, I would be only working if the maintainer approves this.
I am hereby specifying that by `Refactoring fetch route`, I only mean to change the code structure related to the fetching of the routes. Nothing else is changed or added. This is a clean-u

[2021-03-19 19:15] ruddi10 opened #396 "Replace Matrix table with Material Table"
#### Describe
We can implement the Matrix table the same way we have implemented the config table that way the code will be consistent and a bit cleaner. Currently we are using MaterialTable component for making table of configuration page however thats not true for the table on Monitoring page.

[2021-03-19 19:16] ruddi10 commented on #396
@muskankhedia  @Harkishen-Singh what are your thoughts on this any particular reason for the different implementation? If not I would like to give this a try.

[2021-03-19 19:31] Tushar3099 commented on #396
@ruddi10 It would be amazing if you can explain your suggestion a bit more.

[2021-03-19 19:34] ruddi10 opened #397 "Cards on Configuration page not spaced correctly"
**Describe the bug**
Currently the horizontal alignment of the cards doesnt look good as a large space is left on the right side.

![Screenshot from 2021-03-20 00-55-38](https://user-images.githubusercontent.com/56596436/111833222-e4c06800-8917-11eb-9062-210d9334623e.png)

[2021-03-20 02:13] Tushar3099 commented on #378
@Harkishen-Singh I went through the code and observed that :
- On adding a route in `quick-input`, the route is added to `Cmap` of the ChainSet.
- The ChainSet is then registered.
-  A function `Run` reloads after `flushedDuration` amount of time, commits the new chains ( flushes the unflushed chains containing new blocks ).
Please guide how I should approach sending the in-memory chain to the fro

[2021-03-20 02:36] Tushar3099 opened #399 "Quick input Icon hides"
**Describe the bug**
In the configure screen the Quick-input icon at the bottom-right gets hidden under the configuration table.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to configure screen.
2. You can notice the hidden Quick-input icon

**Expected behavior**
The quick-input icon should be over the table.

**Screenshots**
![Screenshot from 2021-03-20 06-01-16](https://user-images.g

[2021-03-20 02:36] Tushar3099 commented on #399
There is a simple fix. I want to work on this.

[2021-03-20 03:02] Tushar3099 opened #400 "Showing selected Tests in Sidebar"
**Describe the bug**
When we select any test from the Test Tab, the sidebar doesn't highlight which test we have selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Select any test from the sidebar.
2. You can see the selected test won't get highlighted.

**Expected behavior**
The selected test should get highlighted.

**Screenshots**
![Screenshot from 2021-03-20 08-13-04](https://user

[2021-03-20 03:02] Tushar3099 commented on #400
I want to work on this issue if approved.

[2021-03-20 05:16] muskankhedia commented on #400
@Tushar3099 Please go ahead. Also try fixing the same bug when the sidebar is in collapsed form.

[2021-03-20 05:20] muskankhedia commented on #399
@Tushar3099 This is basically because of the screen resolution. Even if you add `z-index` property to view it above the table, the pagination key will start hiding. What do you think about this?

[2021-03-20 08:04] ruddi10 commented on #145
@Harkishen-Singh can I work on this?

[2021-03-20 08:09] ruddi10 commented on #145
@Harkishen-Singh just wanted to confirm that incase the ping command isnt available then shouldnt the backend send a blank response instead of throwing errors and to make sure that the error is due to unavailability we can send some string/boolean alongwith it.

[2021-03-20 08:15] #390 closed

[2021-03-20 08:21] ruddi10 commented on #242
@Rits1272  are you working on this or can I take up this issue?

[2021-03-20 08:31] Rits1272 commented on #242
Yeah I am working @ruddi10 !

[2021-03-20 10:55] Sanketwable commented on #277
@aquibbaig Can I contribute to this. I have prior experience in working with spf13/cobra package.

Thanks

[2021-03-20 11:01] Sanketwable commented on #43
@aquibbaig  Is this done In the frontend side or can I work on server side to send email notification.
Thanks

[2021-03-20 11:02] aquibbaig commented on #43
@Sanketwable Idk what I was thinking, it is a backend implementation

[2021-03-20 11:14] Sanketwable commented on #43
its not implemented in the src/*.go so can I write a code to send an email to particular user with body.

[2021-03-20 12:34] Tushar3099 commented on #400
@muskankhedia Sure, I will do the prescribed changes too.

[2021-03-20 14:30] Tushar3099 commented on #399
@muskankhedia IMHO I think that the design itself will create more problems in other places: like in dashboard its getting hidden by the graph :
![Screenshot from 2021-03-20 19-30-29](https://user-images.githubusercontent.com/51849085/111871954-ca879800-89b2-11eb-9dd9-e268791e563f.png)
We can have other designs so that the Quick-input icon won't collide with any other component :
- We can place th

[2021-03-20 17:35] Rits1272 commented on #242
Hello @Harkishen-Singh! Here is my approach to solving this issue: When the bench-routes start, we can get the timestamp of the last block that was added of all the metrics (last time when the bench-routes was stopped). After that, we can calculate the delta in time of the current time and last timestamp and then can populate the JSON file accordingly with null block.

Should I go ahead with this

[2021-03-20 17:40] Harkishen-Singh commented on #242
that is good, but i fear too much network traffic. anyways, we can have this, but make sure to add a flag as `experimental` in the code block you implement

[2021-03-20 17:54] Harkishen-Singh commented on #277
This is in our GSoC idealist, so if you want to contribute to this, please feel to write a proposal. But prior to that, we recommend contributing in go based issues as per note in idealist.

[2021-03-20 17:57] Harkishen-Singh commented on #378
@Tushar3099 that is correct. I think you can attempt for this.

PS: I am sorry, but it is not possible for me to write the complete approach here at the moment, but I can help with reviews and information you will need if you get stuck. You should move forward with the implementation.

[2021-03-20 17:58] Harkishen-Singh commented on #145
That can be a way. rather, the tsdb should not get any new blocks so that we never commit those stale chains.

[2021-03-20 18:03] #348 closed

[2021-03-20 18:26] Rits1272 commented on #242
Sure @Harkishen-Singh I will make a PR with this approach and try to write a benchmark it possible:)

[2021-03-21 03:31] Sanketwable commented on #277
Thanks

[2021-03-21 03:32] Harkishen-Singh commented on #394
@Tushar3099 the solution is good. We must have a object rather, that has a mutex lock. When This object has a running http request every 10 secs say, and during that it fetches all the responses regularly from API. Then the new ones can be stored in the object store with a write lock, and readers will take the read lock to avoid race conditions.

I think this will be the ideal way. I also agree th

[2021-03-21 07:56] muskankhedia commented on #399
@Tushar3099 I feel the second option will be a better approach for implementing it.

[2021-03-21 07:59] #397 closed

[2021-03-21 07:59] #387 closed

[2021-03-21 08:16] #338 closed

[2021-03-21 08:16] #356 closed

[2021-03-21 12:03] Tushar3099 commented on #399
@muskankhedia Thanks for the reply. I'll make a PR following the second option ASAP.

[2021-03-21 12:05] Tushar3099 commented on #299
@Harkishen-Singh Please give your views on this:

[2021-03-21 12:08] Harkishen-Singh commented on #299
Is the value on fullurl and route struct's url, the same?

[2021-03-21 12:15] Tushar3099 commented on #299
@Harkishen-Singh, In this snippet from `main.go` line 141, we are assigning the route's URL to fullURL, so I assumed that routes `URL` field and BRMatrix `fullURL` field have the same value. Please correct me if I misunderstood.
[code]

[2021-03-21 12:23] Harkishen-Singh commented on #299
Then that should be workable without the full url field. You can remove the full url field then and that should be good to go.

[2021-03-21 12:43] Tushar3099 commented on #299
Thanks, I will then make the prescribed changes and make a PR ASAP.

[2021-03-21 12:44] #336 closed

[2021-03-21 14:27] Tushar3099 commented on #394
@Harkishen Sorry but I couldn't relate to this line with the issue I proposed :
[code]
In this issue, I proposed to refactor the already existing fetching routes in the frontend.
However, I tried to understand the implementation you explained but I am having a little difficulty in understanding which functionality you are talking about.

[2021-03-21 14:40] Sanketwable opened #404 ".env file to have configPaths, ports, etc"
Having environment file to store the configuration variables, ports.
For now we are having variables directly defined inside main.go file.
eg :
port 9990,
systemMetricsPath = "storage/system.json"
journalMetricsPath = "storage/journal.json"
configurationFilePath = "local-config.yml"
storageDir
pathFloodPing
pathMonitoring
These can be stored into .env file and can be loaded into config or parser p

[2021-03-21 14:47] Sanketwable commented on #404
Can I Work on this

[2021-03-21 16:38] #358 closed

[2021-03-21 16:40] #369 closed

[2021-03-22 04:12] #393 closed

[2021-03-22 04:36] Harkishen-Singh commented on #404
It would be better to provide this via cli flags(I would choose kingpin) as well, along with a config file. You can go ahead with this. If some value is both in the cli, and in the config file, then the priority should be given to the cli ones.

[2021-03-22 04:52] Sanketwable commented on #404
As I saw in the issue https://github.com/bench-routes/bench-routes/issues/43 we need to integrate mailing service so we will need .env to store API key or some credentials. I will create .env and will give priority to CLI flags. I will create a PR. Thanks.

[2021-03-22 05:25] Harkishen-Singh commented on #404
That will be done in gsoc period and during that implementation, the corresponding cli/config param would be added. Right now, we should just support the ones that bench-routes requires.

[2021-03-22 07:28] Anuragtech02 commented on #385
@muskankhedia Now that the PR is merged shall I close this issue ?

[2021-03-22 08:04] #385 closed

[2021-03-22 08:54] Sanketwable commented on #404
Ok I will create a PR for this. Thanks.

[2021-03-22 09:35] Sanketwable commented on #43
@aquibbaig @Harkishen-Singh
Can I work on this.
Heres How I will Proceed:
1. I will Check for Response length as mentioned in https://github.com/bench-routes/bench-routes/issues/42#issuecomment-560008976
bench-routes/src/lib/modules/monitor/monitor.go
https://github.com/bench-routes/bench-routes/blob/86b3bb39e13aadc9ceac36b9f69f783e06f6440f/src/lib/modules/monitor/monitor.go#L113-L118

from above

[2021-03-22 09:49] kelpikz commented on #88
hey @Harkishen-Singh, I would like to work on this issue

[2021-03-22 09:56] muskankhedia commented on #88
@kelpikz Please go ahead.

[2021-03-22 12:51] tasneemkoushar opened #410 "Tooltip required for minimized sidebar icons."
**Is your feature request related to a problem? Please describe.**
For new users, it would be a problem to analyze the working of the minimized sidebar icons, as even on hovering over the sidebar icons, no tooltip appears. As on the first visit to the website, new users might not get the intuition to click on a hamburger on the top left corner to get the icon's name. So it would be convenient for

[2021-03-22 13:14] anwersayeed opened #411 ""Tests" menu in the sidebar is non-functional when sidebar is minimized"
**Describe the bug**
When we minimize the sidebar, all other menus like "Dashboard", "Monitoring", "Quick Input" and "Config" are functional except "Tests".

**To Reproduce**
Steps to reproduce the behavior:
      1. Minimize the sidebar by clicking on the hamburger.
      2. Click on the "Tests" icon.
      3. You can see, nothing happens when we click on the "Tests" icon.

**Expected behaviour**

[2021-03-22 13:20] robin828 opened #412 "Menu color in Dark Mode"
**Describe the bug**
In the dashboard, there are three different types of graphs. In graphs, we have the different options on the right top corner. The most right icon( hamburger icon) opens a new small window that is not properly visible in dark mode.

Steps to reproduce the behavior:
1. Go to 'Dashboard in dark mode'
2. Click on 'hamburger icon'
3. See an error

**Expected behavior**
The backgro

[2021-03-22 13:23] robin828 commented on #412
I want to work on this issue if approved.

[2021-03-22 13:33] prathameshbhalekar commented on #411
can i work on this issue?

[2021-03-22 13:36] robin828 opened #413 "Reset button in Quick Route Input is not working properly"
On clicking the reset button on (Quick Route Input page) labels are not removed.

Steps to reproduce the behavior:
1. Go to Dashboard
2. Click on Quick Route Input
3. Now add some data to it
4. Now press the reset button
5. see the error (label are not removed)

**Expected behavior**
Labels should also be removed by clicking reset button

**Screenshots**
![Screenshot 2021-03-22 at 6 58 28 PM](http

[2021-03-22 13:37] robin828 commented on #413
I want to work on this issue if approved.

[2021-03-22 15:17] anwersayeed commented on #411
I created this issue and I want to work on this, please assign this issue to me?

[2021-03-22 15:21] #411 closed

[2021-03-22 15:24] anwersayeed opened #414 ""Tests" menu in the sidebar is non-functional when sidebar is minimized"
Describe the bug
When we minimize the sidebar, all other menus like "Dashboard", "Monitoring", "Quick Input" and "Config" are functional except "Tests".

To Reproduce
Steps to reproduce the behavior:
1. Minimize the sidebar by clicking on the hamburger.
2. Click on the "Tests" icon.
3. You can see, nothing happens when we click on the "Tests" icon.

Expected behavior
Tests menu options should appe

[2021-03-22 15:25] anwersayeed commented on #414
I want to work on this issue, please assign this issue to me?

[2021-03-22 15:32] tasneemkoushar commented on #410
I want to work on it, please assign it to me.

[2021-03-22 15:52] muskankhedia commented on #414
@anwersayeed Welcome to the bench-routes project. You are facing this is because the `Tests` item contains some subitems and in order to navigate to the subitems, the list needs to be expanded which isn't possible in the collapsed form as of now. You can expand the test section in the sidebar expanded form and then collapse the sidebar, you will find three other options to navigate between `ping`,

[2021-03-22 16:04] anwersayeed commented on #414
Thank you @muskankhedia  for replying. But we can operate the "Tests" icon without expanding the sidebar. For the submenus, we may change their icons, and while we click on the Tests icon, submenu icons will appear with highlighted background vertically down the Tests Icon.

[2021-03-22 16:08] muskankhedia commented on #414
yes, we can do that.

[2021-03-22 16:08] muskankhedia commented on #413
@robin828 Sure, you can take it up.

[2021-03-22 16:15] muskankhedia commented on #412
@robin828 Thank you for the issue but this issue has already been resolved in #389. Hence, closing it.

[2021-03-22 16:15] #412 closed

[2021-03-22 16:17] muskankhedia commented on #410
@tasneemkoushar Welcome to the bench-routes project. I feel this is a duplicate of #352, regarding which the PR #360 has already been made.

[2021-03-22 16:35] #400 closed

[2021-03-22 18:39] tasneemkoushar opened #418 "Arrow Pointer inside "Tests" menu option in sidebar should be directed appropriately."
**Describe the bug**
Before we click on the "Tests" menu option in the sidebar, the arrow points to the upward direction. After we click on "Tests", the options like "Ping", "FloodPing", "Jitter" appear in downward submenu format, so the arrow pointer should initially be pointing downward and after expanding the "Tests" menu, it must be pointing upward.

**To Reproduce**
Steps to reproduce the beh

[2021-03-22 18:39] tasneemkoushar commented on #418
Please assign this issue to me.

[2021-03-22 18:42] tasneemkoushar commented on #410
Thank you @muskankhedia for paying attention to my issue. I didn't notice that the issue has already been raised. I will be looking forward to working as a part of bench routes by other issues.

[2021-03-22 18:54] anwersayeed commented on #414
may I work on this issue then?

[2021-03-22 18:58] Sanketwable commented on #163
Hey @Harkishen-Singh @aquibbaig According to me we can use protocol buffers here. I have worked on marshal and unmarshal in protocol-buffers. This generates really small sized .pb binary file. This issue is a big part so can I work on small parts.
1 step : I will start with adding data from local-config.yml to  .pb by creating localConfig.proto file, which will contain Message Routes.
Can I work o

[2021-03-22 21:20] robin828 commented on #412
I am talking about this bug. see the difference between light mode and dark mode.

below one is dark mode
![Screenshot 2021-03-23 at 2 44 58 AM](https://user-images.githubusercontent.com/61390860/112059590-09b81380-8b82-11eb-85ff-bd9d11cbe0f9.png)

below one is a light mode
![Screenshot 2021-03-23 at 2 44 41 AM](https://user-images.githubusercontent.com/61390860/112059664-218f9780-8b82-11eb-963c-7

[2021-03-22 21:33] robin828 opened #419 "Quick Route Input should not be on there Quick Route input page."
There is no use of the Quick Route Input button in the right bottom corner on the
Quick Route Input page because it does not have any work if we are already on this page.

![Screenshot 2021-03-23 at 3 03 12 AM](https://user-images.githubusercontent.com/61390860/112061309-513f9f00-8b84-11eb-81e3-15b8b98b2508.png)

[2021-03-22 21:37] robin828 commented on #412
I think that there still some bugs left I send some pictures on the same
issue please have a look.
Thanks and regards

On Mon, Mar 22, 2021 at 9:46 PM Muskan Khedia ***@***.***>
wrote:

[2021-03-22 21:38] robin828 commented on #419
I want to work on this issue if approved.

[2021-03-23 11:30] Tushar3099 commented on #61
@Harkishen-Singh I would like to work on this issue.

[2021-03-23 11:30] Harkishen-Singh commented on #61
Please go ahead

[2021-03-23 11:42] aquibbaig commented on #419
Assigning, go ahead!

[2021-03-23 11:48] aquibbaig commented on #418
@tasneemkoushar I don't think it matters as much but go ahead!!

[2021-03-23 12:07] tasneemkoushar commented on #418
Alright! Thanks, I will start working.

[2021-03-23 16:37] Sanketwable commented on #254
@Rits1272 Are you working on this?
May I work on this?

[2021-03-23 16:38] chetanyakan commented on #285
@aquibbaig @Harkishen-Singh Another way to improve performance would be ETag-based caching.

In the server, we can calculate the `etag` for an API response by hashing the response data, so that it remains constant for the same response data but changes when the response changes.

In the webapp, we can store the url/etags combination and the corresponding API response; either in-memory or local sto

[2021-03-23 16:50] Rits1272 commented on #254
Sorry for the recent inactivity on my part @Sanketwable, I am still working on the issue :)

[2021-03-23 17:03] Sanketwable commented on #254
OK thanks 🙃

[2021-03-23 17:14] #410 closed

[2021-03-24 07:45] ruddi10 commented on #145
@Harkishen-Singh can you please explain this a much more it will be helpful

[2021-03-25 04:07] #386 closed

[2021-03-25 04:11] #384 closed

[2021-03-25 05:16] devansh42 commented on #239
Hi! @Harkishen-Singh if @geforce6t is not working on this project, I'd like to proceed on this. But I've got a small doubt that, what do you mean by Parallel execution, does it mean concurrent execution of queries or running them parallel on a multicore CPU in real. Because in case of real parallel execution, We would require to add some parallel computing library.

[2021-03-25 06:21] ParthGala2k opened #429 "Running `./bench-routes` or `make run` should open the default browser with localhost port on its own."
Currently, after running bench routes via any of the methods, either the executable `./bench-routes` or `make run`, we have to enter the URL in a browser of our choice to see the application running.

**Expected behavior**
To run either of the commands above and have the application open up in our default browser of choice.
We must then allow for opening our preferred browser for execution, via pa

[2021-03-25 06:21] ParthGala2k commented on #429
I would like to take up this issue if allowed.

[2021-03-25 06:32] geforce6t commented on #239
@devansh42 sorry for not mentioning before, I have some obligations, so i am not currently working on this you can take up this issue.

[2021-03-25 16:19] devansh42 commented on #429
Hi, @ParthGala2k I was also working on this capability, I've added one in my [pull request](https://github.com/bench-routes/bench-routes/pull/431), Please feel free to suggest any improvement.

[2021-03-25 22:44] Tushar3099 commented on #88
@muskankhedia, I would like to work on this issue if @kelpikz is not working on it.

[2021-03-25 22:56] Tushar3099 commented on #145
@Harkishen-Singh IMHO, I guess we can approach like this :
- We can make a route, which the frontend will hit before rendering the application.
- In the backend, we can check for the functionality test and send it to the frontend.
- The frontend will show but disable the Tabs whose functionality is not supported.
- This will prevent the user from making any request whose functionality is not suppo

[2021-03-25 23:25] Tushar3099 commented on #255
@Harkishen-Singh, can I collaborate on this issue, as there is not much activity in the past few days.

[2021-03-25 23:52] ruddi10 commented on #145
@Tushar3099  I am already working on this kindly work on some other issue

[2021-03-25 23:58] Tushar3099 commented on #239
@devansh42 I think `Go` itself provides go-routines, channels, and wait-groups for parallel execution; there is no need for other parallel computing libraries.
Please correct me if I am wrong.

[2021-03-26 00:16] Tushar3099 commented on #43
As @Sanketwable proposed his approach, I have few questions here @Harkishen-Singh :
The alerting should be based on only Response Length or other parameters like jitter and ping also?
- Also how, the threshold value should be calculated for each route? (Hardcoding threshold value wouldn't be precise).

[2021-03-26 02:53] codetheorem commented on #255
@Tushar3099 I am working on this issue. I have also raised a PR for this issue.

[2021-03-26 04:57] aquibbaig commented on #414
@anwersayeed Go on!

[2021-03-26 05:35] muskankhedia commented on #88
@kelpikz Can you please update us with the work you have done till now on this issue?

[2021-03-26 07:47] devansh42 commented on #239
@Tushar3099 you are right, Go provides go-routines, channels are wait groups, etc but these are concurrency primitives. There is a subtle difference between concurrency as You can dance while signing, this is called parallelism. But think about talking while chewing your food, this is called concurrency means handling multiple tasks at once.
A set of concurrent tasks might run in parallel eventual

[2021-03-26 10:14] anwersayeed commented on #414
I am on it!

[2021-03-26 11:35] Tushar3099 commented on #255
@codetheorem Thanks for the reply. As I can see, you have worked on one of the features, `PerCoreUsage` . It would be amazing if we could divide the features and work on them separately.

[2021-03-26 12:15] ParthGala2k commented on #429
#433

[2021-03-26 15:01] ruddi10 commented on #255
@Harkishen-Singh I would like to work on number of threads metrics here

[2021-03-26 15:15] rishav4101 opened #434 "Reduce ticks on x-axis of charts."
**Is your feature request related to a problem? Please describe.**
The x-axis data-labels/ticks get all cluttered up and difficult to read and look bad.

**Describe the solution you'd like**
I would like to propose to reduce the number of x-ticks so that it looks much more clean, readable and x-scale can be hence perceived at the first glance.

**Proposed screenshot**
![xTickless](https://user-ima

[2021-03-26 15:15] rishav4101 commented on #434
@muskankhedia @aquibbaig @Harkishen-Singh I would like to work on this issue/feature.

[2021-03-26 15:21] Tushar3099 commented on #239
@devansh42 Thanks for the descriptive and clear explanation of concurrency vs parallelism; that point is right. But don't we get runtime.GOMAXPROCS() (which is set by default, no. of cores in the user computer) in GoLang that enables Go to execute parallelly on different threads. I know other library built solely for this purpose will do things more efficiently, but it's not like go executes every

[2021-03-27 04:43] rishav4101 opened #436 "New label does not appear after selected."
**Describe the bug**
In the quick input page, when a new custom label is created and then selected from dropdown, it ceases to appear in the dropdown. So once a custom label is selected it cannot be unselected.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to Quick Input page.
2. Click on Add labels.
3. Add a custom new label and select it.
4. See error

**Error screenshot**
![label1](

[2021-03-27 04:44] rishav4101 commented on #436
@muskankhedia @aquibbaig I would like to work on this issue.

[2021-03-27 06:22] Harkishen-Singh commented on #239
Sorry, we mean concurrency here. Go scheduler is a good guy to schedule goroutines and we can trust on him. Third party libraries dependency is something I don't think we require at the moment.

@devansh42 @Tushar3099 thank you for your thoughts here.

[2021-03-27 06:23] Harkishen-Singh commented on #434
This is needed. Thank you for showing your interest in this, you can go ahead @rishav4101

[2021-03-27 09:01] Harkishen-Singh commented on #255
Please go ahead on parts you feel interested. Just make sure that no body has taken up that previously. If yes, we should ask them for updates and then take up.

[2021-03-27 09:06] Harkishen-Singh commented on #394
If you are fetching data from a particular system, but while you are updating your state, another reader is reading your state. A the data gets fetched, if there is no lock, this will lead to dirty read on the reader that is reading the system.

[2021-03-27 10:00] #258 closed

[2021-03-27 10:00] #383 closed

[2021-03-27 10:20] aquibbaig opened #438 "what happens when bench-routes is down?"
When the host is down for some reason(mostly if the network is down), bench routes will alert for every route. What we want to have is to add a check beforehand if the problem is with bench routes, then stop the alerting process and send a simple message explaining that the problem lies with bench-routes -> "bench-routes is down".

[2021-03-27 11:26] ruddi10 commented on #438
@aquibbaig  I would like to take up this issue just want to confirm that by host do you mean the website we are monitoring?

[2021-03-27 11:33] suvidsahay commented on #255
I won't be able to continue with my issue. Someone else can take that up if they want.

[2021-03-27 11:38] ruddi10 commented on #419
@robin828 are you working on this

[2021-03-27 11:40] Tushar3099 commented on #255
As @ruddi10 and @codetheorem are/have working on the `Total no. of threads` and `PerCoreUsage`, I will be working on `Clock rate` and `NetworkSpeed`.Thank you

[2021-03-27 12:04] Tushar3099 commented on #299
@Harkishen-Singh @aquibbaig I think the issue is resolved so that we can close this issue.

[2021-03-27 12:11] #399 closed

[2021-03-27 12:15] #299 closed

[2021-03-27 12:45] Tushar3099 commented on #378
@Harkishen-Singh I have made a PR for this issue. Please review it.

[2021-03-27 13:07] Tushar3099 commented on #13
@Harkishen-Singh I would like to work on this issue. A little brief about a possible approach will be amazing.

[2021-03-27 14:06] aquibbaig commented on #438
@ruddi10 From host I mean the machine on which bench routes is running.

[2021-03-27 16:17] Harkishen-Singh commented on #43
Alerting can be for anything! That's why it's not a simple job and requires proper discussion and design doc. Only when the user wants the alert, it should alert.

Emails can be sent from SMTP. (see net/smtp).

[2021-03-27 16:19] Harkishen-Singh commented on #145
Yes, but it should not send any response (rather warn and stop the ping process, otherwise its just using resources without any reason), If it sends a blank response, we are eating space for trivial data.

[2021-03-28 00:14] Tushar3099 commented on #239
@devansh42 Are you working on this issue or I can take this up?

[2021-03-28 00:32] Tushar3099 commented on #394
@Harkishen-Singh, Thanks for explaining your statement. I now understand that the issue here is about concurrent processes performing read operations simultaneously which leads to dirty read. However, the issue raised here is not the one we are discussing. Shall I close this issue and open a new one. I would like to work on it.

[2021-03-28 08:54] kelpikz commented on #88
Sorry for the late reply, u can go ahead @Tushar3099

[2021-03-28 08:59] snehh opened #440 "feat: Make dark mode persist on page refresh"
**Is your feature request related to a problem? Please describe.**
Currently, when the page is refreshed while on dark mode, it reverts back to light instead of remembering the earlier choice. This is especially a problem when viewing the page at night.

**Describe the solution you'd like**
I would like to use local storage to remember the selection so that the users can have a better experience,

[2021-03-28 09:00] snehh commented on #440
If approved, I would like to work on this

[2021-03-28 10:03] ruddi10 commented on #440
@snehh  I think it was already implemented by me and merged

[2021-03-28 10:04] ruddi10 commented on #440
go to localhost 3000 after running make view-v1.1

[2021-03-28 10:18] snehh commented on #440
Oh alright will check it out

[2021-03-28 10:33] devansh42 commented on #239
Sure @Tushar3099, right now I'm working on another issue. So you can proceed.

[2021-03-28 12:03] Tushar3099 commented on #43
@Harkishen-Singh Isn't this issue mentioned in the GSOC idealist?

[2021-03-28 12:06] Harkishen-Singh commented on #43
Yes, this is part of gsoc

[2021-03-28 12:57] devansh42 commented on #438
@aquibbaig  I couldn't figure out this issue properly, Could you please add some more explanation with some examples?

[2021-03-28 13:22] devansh42 commented on #61
Hey @Harkishen-Singh  I'd like to work on this issue, @Tushar3099 and I can collaborate on this.

[2021-03-28 13:29] devansh42 commented on #239
Hey @Tushar3099, I found this issue quite interesting, Can we collaborate on this.

[2021-03-28 13:35] devansh42 commented on #239
* As Rob Pike said in that talk, Parallelism is a subset of Concurrency i.e. If you are executing two tasks in parallel, we can say that you are going them concurrently.
* Parallelism is an Eventual thing, It may happen but is not guaranteed.
* **GOMAXPROCS** just limits the number of Logical CPU core, it won't set some kind of degree of parallelism.
I hope this will help you, please correct me If

[2021-03-28 13:46] Harkishen-Singh commented on #61
You are most welcome.

[2021-03-28 14:05] Tushar3099 commented on #239
@devansh42 Quiet happy to see a healthy discussion, but I don't think this is the right platform to do so as this may push the main issue to the side. Even though I would like to give my remarks to your statement. IMHO :
- Of course, you are right, and by all means, I also tried to convey the same thing. Concurrency is a model so that if it is scaled and run on multiple cores, the same model will

[2021-03-28 14:09] Tushar3099 commented on #239
@devansh42 I would have surely loved to collaborate with you, but I want to work on this issue solely as I may not catch up to your pace. I hope you understand.

[2021-03-28 14:30] devansh42 commented on #61
@Tushar3099 What's your views on [#441 ](https://github.com/bench-routes/bench-routes/pull/441) issues.

[2021-03-28 14:42] devansh42 commented on #163
@aquibbaig Could please share your views on this issue, like how are you planning to solve this issue or any R&D you'd have done.

[2021-03-28 15:21] aquibbaig commented on #163
@devansh42 Right!!!
- So, we thought of a situation where we could categorize stored data based on "time frame", rather than "route's URL". That way we'd have a single file for all the routes(in our current system, we have a dedicated file for each route) for a certain time say 1 hour, then we save the file from memory to HDD and continue writing in another file.
- Each file would have metadata on

[2021-03-28 15:21] aquibbaig commented on #163
Let me know if you have any thoughts of your own.

[2021-03-28 15:23] aquibbaig commented on #440
I dont think we'd be taking up any more "dark mode" issues as we are moving away from this version of dashboard, please see other issues, Thanks!

[2021-03-28 15:23] #440 closed

[2021-03-28 15:28] aquibbaig commented on #438
Let's visualize a situation where you are chilling at your home, monitoring EA Sport's servers for FIFA, and your Wifi goes off. What would bench routes do in this case? With alerting on, it will alert you for each URL you had monitored it for. (generally, there are <10 known EA servers).
What if you are monitoring from a postman collection having thousands of routes? It is expected to alert you f

[2021-03-28 15:30] aquibbaig commented on #436
https://github.com/bench-routes/bench-routes/pull/380#pullrequestreview-622637797

[2021-03-28 15:48] Tushar3099 commented on #438
@aquibbaig Thanks for the explaination, now the usecase of this issue is perfectly understood, instead of alerting for each route we should run a check() to diagnose what is the main cause why is it down and give a single alert. But I had a question. How often we are going to run this diagnose?

[2021-03-28 16:08] rishav4101 commented on #436
@aquibbaig Yes, and that is the reason the newly created label does not appear in the dropdown once selected.

[2021-03-28 20:59] Tushar3099 commented on #61
@devansh42 I went through your PR a little bit, I will dig in later as right now I am working on other issues. It seems there is no other task left to do in the PR, so I will leave the collaboration up to you. I will love to review the PR in detail in some time.
From now onwards, Kindly avoid raising PR on issues that are already assigned to others without notifying as this may lead to a waste of

[2021-03-29 00:54] Tushar3099 commented on #61
@devansh42, your approach may be right but using outside for loop to continuously check whether the channel is closed or not doesn't seemed to be a very promising approach to me. Can we just run goroutines for each of the routes, which will in itself run infinitely? When these go-routines return, pinging will stop. I am not sure, but this may be an approach.
I have raised a PR following my approac

[2021-03-29 06:57] aquibbaig commented on #436
In that case, let's wait for the PR.

[2021-03-29 06:59] #413 closed

[2021-03-29 07:01] aquibbaig commented on #396
Let's drop this issue since we'd be taking up a new table component definition in v2.

[2021-03-29 07:01] #396 closed

[2021-03-29 07:03] aquibbaig commented on #394
@Tushar3099 I am unsure of the workflow here, can you be more specific in terms of what problem you're trying to solve and how you'd do that?

[2021-03-29 07:05] aquibbaig commented on #372
I agree, seems like a bug.

[2021-03-29 07:06] aquibbaig commented on #372
@sachdeva-shrey What's your approach in solving this issue?

[2021-03-29 09:15] aquibbaig commented on #438
Good question. To be honest, I do not know. The simplest idea that comes to my mind is to use a dedicated go routine that pings a URL such as `google.com` which is not likely to go down often unless you have network problems. When this go routine throws error, you may stop the monitoring.

[2021-03-29 09:41] DivyanshiSingh commented on #436
If it is not assigned to anyone else, I would like to work on it @aquibbaig

[2021-03-29 09:45] aquibbaig commented on #436
This issue depends on PR #380. I'd have to ask @codetheorem if he's currently working on a fix.

[2021-03-29 09:48] DivyanshiSingh opened #443 "Spelling error in Readme.md"
#### Describe
There is a spelling mistake in the file bench-routes/dashboard/v1.1/Readme.md

[2021-03-29 09:59] DivyanshiSingh commented on #436
Sure, please do let me know.

[2021-03-29 10:36] ruddi10 commented on #419
@aquibbaig can I take up this issue

[2021-03-29 12:38] codetheorem commented on #436
I have already solved this issue in my PR #380

[2021-03-29 14:21] Harkishen-Singh opened #445 "Implement complete HTTP request types"
Right now bench-routes monitors GET and POST request only. This should be extended for all HTTP supported request to types.

[2021-03-29 14:47] Tushar3099 commented on #445
@Harkishen-Singh I want to work on this issue

[2021-03-29 14:49] Harkishen-Singh commented on #445
You are most welcome for this.

[2021-03-29 16:47] sachdeva-shrey commented on #438
@aquibbaig Can we handle this on the front end itself by using [this](https://www.npmjs.com/package/react-detect-offline) library? We could show an alert snackbar if the connection is down.

[2021-03-29 17:04] sachdeva-shrey commented on #372
@aquibbaig I think a simple approach would be to use a validation function in the input that shows a validation error to the user if there are duplicate keys in the `body`, and disables the Test button. If there are duplicates in `params` or `header`, we should allow it.

[2021-03-29 23:33] Tushar3099 commented on #394
@aquibbaig I actually raised this issue as I saw if I want to know all the routes called by the front end and change some routes fields, there is no central location for that. We have to go to each component which takes time.
The solution to this can be :
- A central location of URLs and a central location for services.
- The fetching code that we have written in different components can be saved

[2021-03-30 05:01] shivangraina commented on #438
@aquibbaig  checking for internet connection by making a single http request to a url can fail for any number of reasons.Example google.com may be deliberatly blocked by the local network. Is it a good idea to create a health or status endpoint that we can call as a middleware handler?

[2021-03-30 05:31] shivangraina commented on #438
@aquibbaig checking for internet connection by making a single http request to a url can fail for any number of reasons.Example google.com may be deliberatly blocked by the local network. Is it a good idea to use a health or status endpoint that we can call(if provided) or a dns query for the service we are requesting (which is not likely to be blocked) , in a middleware handler?

[2021-03-30 06:39] anwersayeed commented on #414
I have made a pull request last night, please check and approve. Please tell me if any changes are required.
https://github.com/bench-routes/bench-routes/pull/446

[2021-03-30 07:23] aquibbaig commented on #438
It's important to stop monitoring unnecessarily rather than showing alerts to the user, IMO. Rather than running thousands of go-routines that return garbage data(when network is down), its better to run one go-routine that checks network connection to start/stop the monitoring process.

[2021-03-30 07:26] aquibbaig commented on #438
I agree! It was just an example I provided, we probably would not "ping google" in real-world scenarios.

Do you have such an approach in mind?

[2021-03-30 07:26] #443 closed

[2021-03-30 07:42] shivangraina commented on #438
@aquibbaig I was thinking of doing a dns resolution of the the service we want to test on .We can provide the ip and check if resolves to correct hostname or doesn't at all.By this we can ensure the internet connectivity. Also I would like to take up this issue.

[2021-03-30 13:46] Tushar3099 commented on #239
@Harkishen-Singh @aquibbaig @muskankhedia  I was working on QueryBatch data struct which will execute the batch querying. I came up with :
[code]
But I was wondering how we can map the Query and QueryResponse. Even though we have the queryResponse field in Query, we are not saving the final response ( base ) to q.queryResponse. I was not sure if it was done intentionally for something I may have s

[2021-03-30 14:42] tasneemkoushar commented on #418
https://github.com/bench-routes/bench-routes/pull/449
My PR passed both the Automation checks, Please review it.

[2021-03-30 15:56] aquibbaig opened #450 "Initial boilerplate for dashboard v2"
Let's have an initial folder structure for the GSoC idea "revamping the UI".

[2021-03-30 17:21] Sanketwable opened #451 "In "/quick-input" endpoint passing http method apart from GET POST freezes goroutine"
**Describe the bug**
Their is no `ResponseWrapper` object send to `response` channel.

**To Reproduce**
Steps to reproduce the behaviour:
https://github.com/bench-routes/bench-routes/blob/5855aadcf621352b2fea6ae49a441af8c74befe4/src/lib/api/api.go#L291-L314

**Expected behaviour**
There should be `ResponseWrapper` Object send to channel in order to terminate the HandlerFunc.

**Approach**
I will s